[2019-01-13 19:30] michalkvasnicak opened #1 "Add documentation for packages"

[2019-01-17 08:59] michalkvasnicak opened #2 "Add ApolloServer implementation"

[2019-02-15 09:20] DavidHooper opened #3 "Update"
Awesome work on exploring how to integrate with API Gateway.

Do you have a roadmap or see any problems with the current implementation?

[2019-02-15 09:28] michalkvasnicak commented on #3
Thank you :)

I don't have a roadmap yet because I was just experimenting with this, but probably I'll use it in our application for few stuff like notifications for a start.

Only problem I see now is that API is rather heavy and should be simpler. But again it is "designed" to support multiple event sources (AWS Kinesis, AWS DynamoDB Streams).

There are few things to make a Client more robust t

[2019-02-25 11:13] RafalWilinski opened #4 "Passing more info with requests to resolver"
Thanks for this awesome module! Works great for me, however, I wasn't able to implement one thing.

Let's assume that header `X-User-ID` comes with a request. How can I pass it down to resolver?

[2019-02-25 11:16] RafalWilinski opened #5 "Any way to plugin-in middleware or validationRules?"
With things like `express-graphql` you can add middlewares or validationRules e.g. https://github.com/slicknode/graphql-query-complexity.

Is it possible right now? I wasn't able to implement that.

[2019-03-02 13:37] michalkvasnicak commented on #5
To add `validationRules` it should be enough to append it ti default validation rules here https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/execute.ts#L71

The same way as it is applied here https://github.com/graphql/express-graphql/blob/master/src/index.js#L209

[2019-03-02 13:41] michalkvasnicak commented on #4
That's good question. Perhaps we could pass whole AWS API Gateway event to context handler?

It could work similarly as in `graphql-yoga` that you will have access to request in [context](https://github.com/prisma/graphql-yoga#api)

[2019-03-07 18:27] RafalWilinski opened #6 "Unsubscribe all client subscriptions on $disconnect event"
Right now the `Subscriptions` table keeps growing endlessly. On websocket `$disconnect` event Lambda should remove all related subscription records.

I can implement that if you could point me to a possible solution.

[2019-03-07 18:44] michalkvasnicak commented on #6
There is a todo for that in code but I haven't had time to fix that. I'll probably start to work with this library more actively in few weeks but for now if you really need that to be fixed you can take a look here https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBConnectionManager.ts#L96.

Basically we need to delete all records in subscript

[2019-03-07 18:49] michalkvasnicak commented on #6
My idea is to introduce another table that will track all subscriptions by client and use DynamoDB transactions to manipulate with tables.

As this library is not really production ready yet the API can change and I plan to use it in production in few weeks so I'll work on it more actively.

If you want you can take a look on this or just wait :)

[2019-03-07 19:06] RafalWilinski commented on #6
For now I came up with this temporary workaround https://github.com/RafalWilinski/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBSubscriptionManager.ts#L116

[2019-03-07 19:11] michalkvasnicak commented on #6
Yes it looks like already sufficient solution. I would recommend using `batchWriteItem` to batch delete operations so you don't need to do that in cycle.

There is only one possible edge case and that's it if you have more subscriptions than page size so you need to paginate `scan` too.

Also it would be nice to add unsubscribe to client too, so we don't send unnecessary events to client's that su

[2019-03-07 19:12] michalkvasnicak opened #7 "Add a way to unsubscribe Client from subscription"

[2019-05-14 09:39] hakimio opened #10 "Integration with Postgraphile"
What do you think about integrating this project with Postgraphile? Maybe something similar to [this implementation](https://github.com/graphile/postgraphile-lambda-example).

[2019-05-23 09:04] #10 closed

[2019-05-29 16:40] #5 closed

[2019-05-29 16:40] #6 closed

[2019-06-04 12:54] samin opened #12 "Adding custom context to resolvers"
It would be nice to have a way to pass a custom context to the resolvers, something like:

[code]

[2019-06-04 12:58] michalkvasnicak commented on #12
@samin yes you are right `execute` already supports it but it's not passed from `createHttpHandler` and `createWsHandler`.

[2019-06-04 13:49] #4 closed

[2019-06-04 13:49] #12 closed

[2019-06-04 13:52] michalkvasnicak commented on #12
@samin released as `0.3.0`. You can try it, what is passed to context creator is defined here https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/types/graphql.ts#L12

[2019-06-04 14:50] samin commented on #12
@michalkvasnicak woah, you're fast. I've tried it, but it is currently not being passed in `createHttpHandler` and `createWsHandler`:

There are only four parameters, and `context` function is not one of them
https://github.com/michalkvasnicak/aws-lambda-graphql/pull/13/files#diff-5b4e060f11e74bfbc306dde5aa5abadcR60

[2019-06-04 14:58] michalkvasnicak commented on #12
@samin Yes fast but wrong 😅, I'm sorry, fixed in #14, released as `0.3.1`, thank you for notice :)

[2019-06-04 15:16] samin commented on #12
@michalkvasnicak thanks, awesome lib BTW

[2019-06-04 15:17] michalkvasnicak commented on #12
@samin thank you 🙏

[2019-06-11 19:18] samin opened #15 "Change ulid library to support React Native"
Is it possible to change the `ulid` dependency to something like `uuid`? `ulid` uses `crypto`, something not built in to React Native and can cause problems when using the Client implementation.

[2019-06-11 19:23] michalkvasnicak commented on #15
It should be quite easy to replace it. I didn't know that it can cause problems in react-native, but it seems that they stub crypto only in browser environment according to https://github.com/ulid/javascript/blob/master/package.json#L47

[2019-06-11 19:48] #3 closed

[2019-06-11 19:51] michalkvasnicak commented on #15
Released as `0.4.0`.

[2019-06-11 19:53] samin commented on #15
@michalkvasnicak awesome

[2019-06-11 19:57] samin commented on #15
@michalkvasnicak some places still use `ulid`:
https://github.com/michalkvasnicak/aws-lambda-graphql/search?q=ulid&unscoped_q=ulid

It's causing errors:
![image](https://user-images.githubusercontent.com/263049/59302295-07651d80-8c6a-11e9-8ec3-24d6827705e1.png)

[2019-06-11 20:06] michalkvasnicak commented on #15
Yes I'm sorry, I have `ulid` installed at the package root so typecheck didn't complain.

I should extract client from `aws-lambda-graphql` package because you don't need `DynamoDBEventStore` in client implementation.

I'll do it the first thing on tomorrow's morning and fix this problem. Sorry for inconvenience :(

[2019-06-12 06:50] #15 closed

[2019-06-12 06:56] michalkvasnicak commented on #15
Ok I released `0.5.0` and deprecated `0.4.0`.

`ULID` is being used internally by the server only and client uses incremental number generator for operations.

Also I changed the `Client` import in `aws-lambda-ws-link` because you don't need the whole `aws-lambda-graphql` library in your application but only Client relevant code.

Let me know if I broke something.

[2019-06-12 14:02] samin commented on #15
@michalkvasnicak all is working, thanks

[2019-06-13 12:00] dannysood commented on #7
any update on this?

[2019-06-13 12:02] michalkvasnicak commented on #7
I'll try and take a look on this issue today or tomorrow.

[2019-06-14 10:41] #7 closed

[2019-06-14 10:43] michalkvasnicak commented on #7
Released in `0.6.0`. It is a breaking change, you need to update stack so there is `SubscriptionOperations` DynamoDB table (in case DynamoDB is used as backend).

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/serverless.yml#L94

or

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/cloudformation.yml#L37

[2019-06-14 10:44] michalkvasnicak opened #19 "Add changelog"

[2019-06-17 22:16] elderapo commented on #2
Any progress on this? I am willing to help if you can point me into the right direction.

[2019-06-18 15:06] michalkvasnicak commented on #2
@elderapo Good question. I don't know yet. Basically it should reflect the same usage as is with ApolloServer. But there is a catch that we have to extend the options of apollo server so we can pass our own subscription management, etc.

Maybe something like

[code]

Maybe it could extend the `ApolloServer`, extend the context with internal details needed for subscription managers to work.

https:

[2019-06-18 19:36] elderapo commented on #2
I have very little knowledge about apollo server internals. I will check it out in depth tomorrow alongside other implementations that extend apollo server.

Also, I think it would be handy to wait for https://github.com/dherault/serverless-offline/pull/711 so it's easier to test on local.

[2019-06-19 08:13] michalkvasnicak commented on #2
Interesting, I'm really not a user of serverless so I don't watch for changes in this ecosystem. But I agree that it could be helpful to test the stuff locally.

[2019-06-19 19:13] samin opened #20 "Add multipart/form-data support to upload files"
I've adapted jaydenseric/graphql-upload (https://github.com/jaydenseric/graphql-upload) to work with a Lambda event. Below is the implementation:
https://gist.github.com/samin/976271f97b03bba14017a760570df88a

This implementation is based on https://github.com/jaydenseric/graphql-upload/blob/master/src/processRequest.mjs

It would be possible to add the following method when a request is a multipa

[2019-08-05 10:36] RafalWilinski commented on #4
Can you please give me some guidance here?

I've tried passing custom context from `httpHandler` function level, however, it does not work. Only passing custom `context` arg inside `createHttpHandler` calls sets it. My goal however is to call `createHttpHandler` just once and re-use it with concurrent invocations.

[code]

☝️ None of that works.

[2019-08-05 12:08] michalkvasnicak commented on #4
@RafalWilinski yeah this is by design because I haven't expected the usage as you have :) But is fairly easy to implement that feature here https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/createHttpHandler.ts#L64

But another question is, isn't a context creator function enough for that use case? See https://github.com/michalkvasnicak/aws-lambda-gr

[2019-08-05 13:37] RafalWilinski commented on #4
Not in my case. The `httpHandler` persists between invocations and I need `awsRequestId` which is unique per handler call.

Should I create a PR to include this functionality, or in another words, would you accept such functionality or should I create a fork?

[2019-08-05 13:47] michalkvasnicak commented on #4
Oh I see, the `awsRequestId` is available in lambda's context argument. In that case could it be enough for your use case if the library managed to pass you a lambda context to context creator too? The same thing as an event is passed to context creator.

[2019-08-05 14:28] RafalWilinski commented on #4
Yes, exactly!

[2019-08-07 08:14] michalkvasnicak opened #22 "Provide AWS Lambda handler's context to GraphQL context"

[2019-08-07 08:44] #22 closed

[2019-08-07 08:45] michalkvasnicak commented on #4
@RafalWilinski implemented in #23, releaed as `0.7.0`

[2019-08-31 09:37] niftybit opened #24 "Socket disconnect recovery"
For your example chat app, I've set Client options to include:
`{
  reconnect: true,
  reconnectAttempts: Infinity,
  }`

However, when a websocket disconnects (simulated using sleep on mac), all subscriptions are lost and no messages are passed even after reconnecting. Is there a way to remedy this?

[2019-09-16 16:22] sammarks commented on #24
I've done a few tests with this - looks like it reconnects the first time successfully, but then when the connection is lost again (mine is being lost because of a 10 minute inactivity limit with API Gateway), it doesn't see the disconnect. Gonna see if I can get a PR up for this...

[2019-09-17 08:07] #24 closed

[2019-09-17 08:14] michalkvasnicak commented on #24
Released as `0.7.1`. Thanks to @sammarks for #25

[2019-10-07 14:18] AlpacaGoesCrazy opened #28 "Failed to publish npm package"
Current NPM package 0.8.0 still resolves to previous version
Reproduction: https://codesandbox.io/embed/wizardly-gould-nz0wi

[2019-10-07 14:23] michalkvasnicak commented on #28
@AlpacaGoesCrazy

![image](https://user-images.githubusercontent.com/174716/66320204-abac5780-e91e-11e9-8e8a-39228a422a17.png)

In your codesandbox you have `package.json` with the following content:

[code]

[2019-10-07 14:30] AlpacaGoesCrazy commented on #28
@michalkvasnicak changed to 0.8.0 and it still resolves to old package

[2019-10-07 14:35] michalkvasnicak commented on #28
That's weird I can't replicate it. See https://codesandbox.io/embed/sad-mayer-yefcj

![image](https://user-images.githubusercontent.com/174716/66320917-fed2da00-e91f-11e9-869d-902034a1f7dd.png)

And

![image](https://user-images.githubusercontent.com/174716/66320937-06927e80-e920-11e9-92fa-cefcd52cced9.png)

[2019-10-07 14:36] AlpacaGoesCrazy commented on #28
Could you look at console output?

[2019-10-07 14:47] michalkvasnicak commented on #28
You're right, I have wrong package.json configurations so it did not run `build` on publish, because `prepublish` script is missing. Fixed in `0.8.1`. I will mark `0.8.0` as deprecated.

[2019-10-07 14:47] #28 closed

[2019-11-01 19:47] michalkvasnicak opened #30 "Add a documentation about server lifecycle methods"
@AlpacaGoesCrazy could you please add some information about lifecycle methods from #29 to README?

[2019-11-03 17:12] michalkvasnicak opened #31 "Normalise headers to be accessible as lower case in http handler"

[2019-11-03 17:18] #31 closed

[2019-11-08 13:16] michalkvasnicak opened #33 "Do not use connection phase if there is no onConnect handler or wait for resolution"
Basically we don't want to throw `Prohibited connection` when `onConnect` is not used or wait for the phase to be initialised with customizable interval.

[2019-11-08 13:40] michalkvasnicak opened #34 "Add context to event processors and merge it with context data from connection"
If we need to access `pubSub` from `context` as in example:

[code]

`createDynamoDBEventProcessor` and `createMemoryEventProcessor` should have new optional option `context`.

[2019-11-08 15:24] michalkvasnicak opened #35 "Log error if graphql execution over websocket fails"
Basically just add `console.error` to `try {} catch` on web socket handler

[2019-11-08 16:13] #34 closed

[2019-11-12 20:28] caseyhoward opened #37 "Error when running example app"
I've been trying to get this library working on a project and am having no luck. So I tried just getting the examples in the project to work. I followed the directions in each of the repos however it doesn't work. I deployed the server to wss://f6aifsw9g7.execute-api.us-east-1.amazonaws.com/dev and I get an error in the client when subscribing: "Prohibited connection". I have a screenshot for when

[2019-11-13 07:55] michalkvasnicak commented on #37
@caseyhoward yes it's caused by #33. Basically what's happening is that `onConnect` phase is running and during that phase the connection is not initialised, so when you send `subscriptions` during that phase to the server it'll reject them with prohibited connection message.

I need to fix that so the connection is initialised if you don't have `onConnect` custom logic.

[2019-11-13 08:00] michalkvasnicak opened #38 "Refactor to one server implementation"
# Motivation

Right now is initial code really hard to grasp without good documentation. It's just too much code user needs to write in order to provide just simple endpoint.

[code]

## Solution

The solution should be some sort of a pluggable server that has sane defaults and if the user needs to use something different it's possible to override defaults.

[code]

## Thoughts

- get rid of custo

[2019-11-13 17:30] caseyhoward commented on #37
Ok, the only thing I don't understand is why the chat-example-app.netlify.com version of the app works. Is it a timing issue? Is there anything I can do to get it working right now? Delay sending the subscription or something? Thanks.

[2019-11-13 19:50] caseyhoward opened #39 "Documentation has invalid code"
In the **Usage (Apollo client + aws-lambda-ws-link)** section it uses a constant called "client" before it's declared.

[code]

I'm pretty sure the fix is that it should be `wsClient` instead but I'm not sure since I can't get this library working at all.

[2019-11-13 19:52] caseyhoward commented on #39
Also, there are two implementations for the client, but no explanation why to use one over the other. Why are there two different ways to do it?

[2019-11-14 08:00] michalkvasnicak commented on #39
@caseyhoward thank you for reporting the problem. I'll fix that.

Two clients exist because when I started this library, it wasn't compatible with Apollo's implementation. Then after the https://github.com/michalkvasnicak/aws-lambda-graphql/pull/27 it is now compatible with legacy client and Apollo's subscription-transport-ws

[2019-11-14 08:06] michalkvasnicak commented on #37
@caseyhoward the chat app is deployed with old version, I just need to redeploy it.

Otherwise Prohibited connection is caused by the following problem:

Apollo's subscription-transport-ws is not waiting for CONNECTION_ACK so basically when you connect to the server and you have some authentication going in `onConnect` handler, then when you try to subscribe in the meantime (until the `onConnect`

[2019-11-17 09:11] #33 closed

[2019-11-17 09:21] #39 closed

[2019-11-17 09:24] michalkvasnicak commented on #37
@caseyhoward I introduced new optional setting to `createWsHandler` that controls how the handler should behave if connection is not initialised during the GraphQL operation (`onConnect` is not resolved yet).

Please see #40

It's released as `0.11.0`. Also I redeployed the example app for new version.

[2019-11-17 09:24] #37 closed

[2019-11-19 20:19] ganey commented on #2
Sorry to dig this issue up again, but the serverless offline fixes have been merged 🎉

[2019-11-20 08:43] michalkvasnicak opened #41 "Provide compatibility with serverless-offline"
I think there are maybe just few spots that should be refactored in order to fully support `serverless-offine`. One such spot is Api Gateway management URI.

[2019-11-20 08:45] michalkvasnicak commented on #2
@ganey thank you for letting me know. I'll take a look into this during #38 work.

[2019-11-20 13:23] AlpacaGoesCrazy commented on #30
https://github.com/michalkvasnicak/aws-lambda-graphql/pull/42

[2019-11-20 14:34] michalkvasnicak commented on #30
Closed by #42

[2019-11-20 14:34] #30 closed

[2019-11-22 09:27] AlpacaGoesCrazy commented on #41
This pull request https://github.com/michalkvasnicak/aws-lambda-graphql/pull/21 builds offline compatibility upon using dynamoDB offline. Maybe we can store connection state, events, etc in memory for offline testing so it will be not so complex to set up (dynamoDB client would need env configuration, installation of additional serverless plugins, etc)?
The only problem with in memory approach I c

[2019-11-22 13:03] michalkvasnicak commented on #38
Probably set minimum version of node to 10.

[2019-11-26 09:18] AlpacaGoesCrazy opened #45 "JSON.Stringify event payload"
DynamoDB throws error when you try to store empty strings:
`One or more parameter values were invalid: An AttributeValue may not contain an empty string`
Event data should be serializable anyway, so maybe it will be better to pass it as string to event store so the event store implementation won't interfere with our event?

[2019-11-27 05:32] seanchambo commented on #45
👍 I am currently running into this issue as well

[2019-11-27 07:48] michalkvasnicak commented on #41
@AlpacaGoesCrazy I'd maybe wait until the refactor #38 then it should be easier for developers to quickly set up a project in general (and then it'll be easier to just set up correct DynamoDB URI for usage with `serverless-offline`).

Correct me if I'm wrong but to achieve full compatibility with `serverless-offline` we just need a way to specify a custom DynamoDB endpoint for `aws-sdk` and a cust

[2019-11-27 12:08] #45 closed

[2019-12-02 13:20] AlpacaGoesCrazy opened #47 "Implement TTL mechanism in DynamoDB event store"
Currently event records are stored in DynamoDB indefinitely, maybe events should use [dynamoDB's TTL feature](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/TTL.html), so they will be eventually deleted and we wont be overcharged for storage of useless events

[2019-12-02 13:23] michalkvasnicak commented on #47
Yes that's true. How would you determine the value of TTL field? Configuration value or maybe a function in that could set it based on event type?

[2019-12-03 12:12] AlpacaGoesCrazy commented on #47
For events i don't know if there is a point to store event after it was emitted to the subscribers.
For subscriptions and connections [AWS Api Gateway has limitations on connection length](https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html). It is 10 minutes for idle connection and 2 hours for any connection. So I guess it will be save to set TTL here for 2 hours as connectio

[2019-12-03 12:19] michalkvasnicak commented on #47
Yes 2 hours are reasonable. But maybe we could use it as a default and allow users to set the TTL to whatever they want.

`EventStore` could accept `ttl?: number | (event: any) => number` in constructor.

Where `ttl` is unix timestamp in seconds.

[2019-12-03 12:23] AlpacaGoesCrazy commented on #47
2 hours is for connection and subscription manager, for event store I am not sure, as I think we can safely remove event records as soon as they are emmited

[2019-12-03 12:26] michalkvasnicak commented on #47
Yes I understand, I'm talking about event stores because they're responsible for publishing events to underlying storage:

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/260333160fa60016ccd24de92cac10025eae8d3b/packages/aws-lambda-graphql/src/types/events.ts#L3

[2019-12-04 13:17] AlpacaGoesCrazy opened #49 "Publishing to undefined topic breaks dynamoDB trigger"
When you try to publish subscription message like this
```await pubSub.publish(undefined, payload)```
It will allow to publish such message however lambda trigger will throw this error:

Moreover because trigger lambda failed it will try to invoke it again with same parameter creating a loop which is possible to break only when you delete your dynamoDB trigger

I think `event` property should be p

[2019-12-04 14:24] michalkvasnicak commented on #49
So the solution is to not allow undefined as event name?

What about the `event` property? Why it should be a part of composite key?

[2019-12-04 14:38] michalkvasnicak opened #50 "Return proper response on websocket disconnect"
First mentioned in #48

[2019-12-04 14:40] #50 closed

[2019-12-04 14:47] AlpacaGoesCrazy commented on #49
Well, as we can not have an event without a topic it makes sense to identify events in the database by not only id but topic as well

[2019-12-04 14:50] michalkvasnicak commented on #49
What problem does it solve? I mean events are just stored and then processed by stream. There is no querying on them.

[2019-12-04 14:50] #49 closed

[2019-12-04 14:55] AlpacaGoesCrazy commented on #49
Well, I think you are correct. Anyway this is library user concern if he decides to make it into composite key

[2019-12-04 14:58] michalkvasnicak commented on #47
@AlpacaGoesCrazy Only problem with this is that we can specify TTL for event but it's up on the user to actually specify a TTL on DynamoDB table.

I don't want to somehow create tables on user's behalf. So I'd need to document this library better about the structure of tables etc.

[2019-12-05 15:41] ganey commented on #47
Would a cloud-formation template that the user can run be sufficient for handling the dynamoDB table?

Or maybe a block user's could paste into the serverless file for the lambda function?

[2019-12-06 07:24] AlpacaGoesCrazy commented on #47
I belive in dynamoDB you enanble TTL feature by enabling a schema field as TTL and after that you provide an an expiration timestamp per each record. So `DynamoDBEventStore` would need to put records with TTL value.
I wonder if TTL mechanism would trigger trigger lambda causing unnecessary lambda invocations.

[2019-12-09 08:33] michalkvasnicak commented on #47
Yes it seems that TTL propagates to DynamoDb stream too. https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/time-to-live-ttl-streams.html

So this library could be responsible for storing TTL timestamp field on an event but it should be user's responsibility to actually enable this mechanism either by TTL field or some other lambda trigger by interval.

[2019-12-12 11:25] michalkvasnicak commented on #47
@AlpacaGoesCrazy as far as I know, lambda will invoke `$disconnect` so we don't need TTL on connections/subscriptions because they should be cleaned up by normal mechanism that is already implemented.

TTL does make a sense only for events, but there is a problem that it'll invoke
lambda connected to DynamoDb stream.

[2019-12-12 11:47] #47 closed

[2019-12-12 13:03] #19 closed

[2019-12-14 12:12] michalkvasnicak opened #56 "Add boost package or packages"
Basically we don't want to force users to use our verbose instantiation of the server for their use case. We should provide them with boost packages for different storage options.

For example we could have something like `aws-lambda-graphql-dynamodb-boost` or something like that.

I really don't like the name of the package so maybe this whole project could be moved to its own organisation.

But

[2019-12-14 13:34] #1 closed

[2019-12-26 08:48] AlpacaGoesCrazy opened #58 "[Discussion] Different event store implementations"
Concerns about dynamoDB event store implementation, such as event publisher lambda trigger on each event occurring in events table, made me think about different approaches.

I  came up with two options first one SNS+SQS and the second ElastiCache with Redis Pub/Sub.
For both of this options there is a problem on how to communicate published events back to publisher lambda.
For SQS there is an opt

[2019-12-26 09:17] michalkvasnicak commented on #58
@AlpacaGoesCrazy I think that @guerrerocarlos mentioned Kinesis as an event store few months ago.

With DynamoDB streams the problem is if you have low traffic meaning that there is only 1 event in a batch. DynamoDB stream can be batched but then you'd need to have for example 100 and more events per second.

Another way is to replace DynamoDB with SQS that is batched too (without SNS) https://doc

[2019-12-27 10:31] AlpacaGoesCrazy commented on #58
Waiting for 100 events is not suitable for real time application, you can not even estimate message delivery estimate.
And about using EC2 instance to process events, this might be contrary to main idea of this package: using graphql subscriptions on lambdas with no running instances.

[2019-12-27 10:42] michalkvasnicak commented on #58
I don't have any idea how to solve that using event store because we're limited only to event source streams that AWS Lambda actually supports.

SQS and DynamoDB streams are batched by default, so Lambda is already working with batches but the number of events in batch depends on how many events were written to DynamoDB until AWS Lambda polls for changes (from documentation `Lambda polls shards in

[2019-12-27 10:44] michalkvasnicak commented on #58
For example you can invoke your lambda manually using API so that's another way how to implement different event sourcing that is not directly supported by AWS.

[2019-12-27 16:47] michalkvasnicak commented on #41
I think we could solve this by introducing new connection and subscription managers and event store that basically invokes the lambda using "api" or something like that.

[2019-12-27 18:29] michalkvasnicak commented on #41
This is now done in #59

It's using DynamoDB local and there is just a little code that needs to be written.

[2019-12-27 19:42] #2 closed

[2019-12-27 19:42] #20 closed

[2019-12-27 19:42] #35 closed

[2019-12-27 19:42] #38 closed

[2019-12-27 19:42] #41 closed

[2020-01-02 03:33] alvinypyim opened #60 "Exceeding the maximum request items sent to DynamoDB when cleaning up stale connections"
As in the title.

After processing an event, the Lambda function will publish the result to the connections.  For the connections that are stale (e.g. disconnected from the client silently), the Lambda function will remove the connection and unsubscribe all the subscriptions by removing the records from the DynamoDB tables.  When there are 13 or more subscriptions, there will more than 25 request

[2020-01-02 09:36] #60 closed

[2020-01-03 14:01] AlpacaGoesCrazy opened #62 "Serverless offline does not track hot reload changes"
Steps to reproduce:
1. Open and start up server and app example.
2. Change something in server while sls offline is running. For example:
[code]
3. Serverless offline webpack will rebuild the server application.
4. Reload client application.

Expected behavior:
'test' will be output in sls console when client reconnects
Actual behavior:
nothing is output to console and no changes to the code affec

[2020-01-03 14:03] michalkvasnicak commented on #62
This is not really a bug with package but rather the problem with `chat-example-server` serverless configuration. (there is serverless-webpack plugin used to compile the app).

[2020-01-03 14:09] AlpacaGoesCrazy commented on #62
Well, my project where I use aws-lambda-graphql has the same problem with serverless-webpack, however without aws-lambda-graphql hot reload works just fine

[2020-01-03 14:14] michalkvasnicak commented on #62
Does your project work correctly if you instantiate some class in a module scope the same way as `Server` is instantiated?

Isn't this somehow related to this that everything is being invalidated except the handler file?

[2020-01-03 14:28] AlpacaGoesCrazy commented on #62
Isn't it the same as instantiating `ApolloServer` from apollo-server-lambda?
This works just fine with serverless-webpack

[2020-01-03 14:33] michalkvasnicak commented on #62
You are right it is the same. But the problem is weird because Server just extends the Apollo one. Is this problem related to both HTTP and WebSocket handlers? Because HTTP handler is processed using Apollo's handler and websocket is custom.

[2020-01-03 14:37] AlpacaGoesCrazy commented on #62
Only websocket part is affected

[2020-01-03 15:09] AlpacaGoesCrazy commented on #62
Well, seems like it is the problem of serverless-offline plugin
https://github.com/dherault/serverless-offline/issues/764

[2020-01-03 15:09] #62 closed

[2020-01-03 15:10] michalkvasnicak commented on #62
Thank you for investigating 👍

[2020-01-08 08:52] michalkvasnicak opened #64 "Set up connection/subscription manager for EventProcessors during Server instantiation"
Do not use context to pass them. It's unnecessary. See comment in https://github.com/michalkvasnicak/aws-lambda-graphql/pull/63#issuecomment-571950472

[2020-01-08 11:07] #64 closed

[2020-01-09 17:07] Knaackee opened #65 "Cant connect to Websocket"
I can connect to my web socket using `wscat` and get a connection but the `graphql` playground or the ApolloClient can't.

- The Playground works and the subscription endpoint is correct
- My Lambda function get called (getting entries in cloudwatch)
- In Chrome Devtools i can see the following web socket message
- No entries in any DynamoDB table

`Error during WebSocket handshake: Sent non-empty

[2020-01-12 12:26] Knaackee commented on #65
You can close this. There was an error in my AWS configuration.

[2020-01-12 12:27] #65 closed

[2020-02-03 21:17] carolina-cascade opened #66 "[Question] Is it possible to use it with Netlify functions?"
I have our Apollo server running on Netlify functions, after a disastrous implementation on AppSync and Amplify. Using the AWS Data API the server/Netlify function can interact with a DynamoDB and a Postgresql databases on AWS. Now I need to add subscriptions, and my search got me here. I followed the example and got a deployed stack in AWS, but only at the end I realized my existing Netlify Funct

[2020-02-04 08:06] michalkvasnicak commented on #66
@carolina-cascade unfortunately I'm not sure if it can be run as netlify function (it can be run but you need api gateway v2 to handle websockets and I'm not sure if netlify support websockets in some way).

The demo app is deployed separately as client and server. Server is deployed directly to AWS and client app is deployed to netlify.

[2020-02-04 13:04] carolina-cascade commented on #66
Thank you, @michalkvasnicak . I had high hopes because Netlify functions are AWS lambdas, but it was too good to be true.

[2020-02-04 13:04] #66 closed

[2020-02-04 23:55] nenti opened #67 "$connect and GQL_CONNECT in quick succession fail with setup"
The current setup of creating the connection entry into the dynamodb table on $connect and then relying on it to be there on the GQL_CONNECT results in non deterministic connection failures and disconnects because of a ConnectionNotFoundError on the GQL_CONNECT call.

`[offline] connect:ck68ih4ee000065p6323weeu2
handleSubSockets CONNECT $connect no body 2020-02-04T23:25:37.291Z
[offline] action:$d

[2020-02-05 08:23] michalkvasnicak commented on #67
@nenti isn't this a problem with serverless offline? Because from my understanding AWS ApiGateway won't send message to your lambda until $connect phase is resolved.

[2020-02-05 08:47] nenti commented on #67
Yes this is with Serverless offline and a Apollo-subscription-ws client. That is good to know. Although offline is quite important. My suggestion would be to move the retry logic in the GQL_CONNECT to the query of getting a connection aswell to resolve this then.

Mobile mail, excuse typos.

________________________________
Von: Michal Kvasničák <notifications@github.com>
Gesendet: Mittwoch, Febru

[2020-02-09 08:37] michalkvasnicak commented on #67
Closed by #68

[2020-02-09 08:37] #67 closed

[2020-02-10 08:07] raheelkhan opened #69 "[LocalStack] - GraphQL Playground is not able to run subscription"
I am trying this library and so far its all good for `Queries` and `Mutation`. However the real reason I am trying this library is to work with GraphQL subscription in Serverless.

So after running this server, If i try to connect via google console a raw ws connection `var socket = new WebSocket("ws://localhost:3001");`, It saves a record in DynamoDB Connections table.

However, from GraphQL play

[2020-02-10 09:34] michalkvasnicak commented on #69
@raheelkhan could please provide how you test it.

1. you use playground to connect to this endpoint and listen to subscription (if listening mode runs then this part is ok)
2. do you fire some action using Mutation to publish events?

I don't understand what effect should be visible on server. Could you please explain it?

[2020-02-10 10:52] raheelkhan commented on #69
Hi @michalkvasnicak

Thanks for your reply.
Let me try to explain you steps.

My server is running as per the documentation in this repository.

[code]

My serverless.yml looks like

[code]

If i open GraphQL playground at `http://localhost:3000`, I can successfully speak with the server and do queries and mutations. In my mutation I am also publishing and I can verify this in the DynamoDB `Events

[2020-02-10 13:01] michalkvasnicak commented on #69
@raheelkhan thank you, could you please provide a schema definition and how the context and pubSub are created?

[2020-02-10 13:20] raheelkhan commented on #69
Sure,

**Main**

[code]

**Schema**
[code]

**Subscription Resolver**
[code]

[2020-02-10 13:23] raheelkhan commented on #69
My Mutation part is working fine, the `pubsub.publish()` in the mutation function `createSomething` is also working as expected. Only I am not able to use the websocket feature.

upon start of server it says websocket server is running on `ws://localhost:3001`. I tried from developers tools `var websocket = new WebSocket("ws://localhost:3001");` and it is connected successfully. Which means the AP

[2020-02-11 09:15] michalkvasnicak commented on #69
I'm sorry for the late response. Could you please change the `subscribe: () => pubsub.subscribe(SOME_THING_CREATED)` to `subscribe: pubSub.subscribe(SOME_THING_CREATED)` ?

The problem is that `subscribe` has same notation as `resolver` so when the `subscribe` is called, it gets `root, args, context, info` arguments. `pubSub.subscribe()` returns a function with the same notation so you have 2 ways

[2020-02-11 09:44] raheelkhan commented on #69
Hi @michalkvasnicak

Thanks for your reply.

I was trying to dig in the code and found two things that I need to do.

1 - In order to use GraphQL playground that comes with ApolloServer, we need to tell the websocket URL explicitly

[code]

After doing this, If i run subscription via PlayGround, it connects fine.

2 - Second in file `DynamoDBConnectionManager.js` the `this.hydrateConnection` metho

[2020-02-11 10:18] michalkvasnicak commented on #69
Only thing that comes to my mind is that setting up `subscriptions` using `pubSub.subscribe()` is fragile. It's really easy to mess it up as I explained in the comment above.

Basically you have to define `subscribe` in your schema correctly.

[code]

or

[code]

or with context

[code]

If you have your subscriptions set up like this, then there shouldn't be a problem.

Other thing could be some

[2020-02-11 10:40] raheelkhan commented on #69
for race condition in my observation `hydrateConnection` retries only once. Is there any way we can pass this as an argument?

[2020-02-11 12:30] michalkvasnicak commented on #69
I don't understand how it can result in a race condition.

1. When you connect to WebSocket using subscription the `$connect` route is called and the connection is registered.
2. Then you fire mutation right? So it's published after the connection is established.

I assume that you test it manually, that means that you should be able to prevent any weird cases. If it doesn't work even when you fir

[2020-02-11 12:46] raheelkhan commented on #69
Sorry, I forgot to mention I am already using the same way you have mentioned. Problem lies somewhere in DynamoDBEventProcessor class. My subscriptions are registered. Only I am not receiving response from server it keeps on listening mode. I am trying to find loophole. I will update you.

Thanks

[2020-02-11 12:56] michalkvasnicak commented on #69
@raheelkhan have you tried to change retry count in code of library if it helps?

[2020-02-11 12:59] raheelkhan commented on #69
@michalkvasnicak Yes this is one part of the issue.

In file `DynamoDBConnectionManager.js:19` I have set up hard value `5` in the `for` loop instead of `retryCount`. This solves my first problem where my subscription are being registered.

[2020-02-11 13:01] michalkvasnicak commented on #69
The second problem is that it does not send a data over subscription back to client that has subscribed? This one is weird because the connection already should exist in your table, so there shouldn't be any problem with fetching the connection.

Does event processor even receive events from DynamoDB event stream?

[2020-02-11 13:04] raheelkhan commented on #69
**Does event processor even receive events from DynamoDB event stream?**

Can you please guide me how can I track that, this is what I am struggling to reach.

[2020-02-11 13:07] michalkvasnicak commented on #69
Basically this is the code of event processor:

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBEventProcessor.ts

It should be enough just to check what `Records` contain. https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBEventProcessor.ts#L33

If event processor is being called then

[2020-02-11 13:08] michalkvasnicak commented on #69
If is logged then you can pass `eventProcessor` with `onError` handler and log errors that occurred during event processing.

[code]

[2020-02-11 13:33] raheelkhan commented on #69
I think eventProcessor is not getting called in my case. Its only working for httpHandler
<img width="473" alt="Screen Shot 2020-02-11 at 5 30 51 PM" src="https://user-images.githubusercontent.com/7078218/74240998-7f517f00-4cf4-11ea-99ed-5f0d96ae17df.png">

[2020-02-11 13:35] michalkvasnicak commented on #69
Ok, that can be maybe some problem with your serverless.yml configuration. Did you compare it with https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/serverless.yml?

[2020-02-11 14:06] raheelkhan commented on #69
I compared, I am not using serverless-dynamodb-local, instead I am using localstack which has dynamodb builtin. But other things are same.

[2020-02-11 14:10] michalkvasnicak commented on #69
I don't have any experience with localstack but you already know that your stream is not listening to events from dynamodb because that is something that is handled by https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/serverless.yml#L11

So you need to find a way how to listen to those changes and call the event handler for event processor. That's not s

[2020-02-25 10:04] tkohout opened #71 "Subscriptions based on the userId from authorizer"
Hello,
thanks for this library! I've been trying to setup simple subscriptions based on your example server app.

I managed to setup the authorizer on websocket, and retrieve user in the context function. With something like this:

[code]

And the subscription would be something like this:

[code]

I assume the `subscribe` function is called from the dynamodb event stream so I am not getting reque

[2020-02-26 11:33] michalkvasnicak commented on #71
@tkohout Sorry for late response. Basically if you want to store something in context, you should use `onConnect` event, that returns an object that can be JSON serialised. Then this data are stored on your `connection.data` so they should be available in the GraphQL context as `ctx.foo`.

See:

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/__tes

[2020-02-26 11:33] michalkvasnicak commented on #71
Please, let me know if my advice helped you.

[2020-02-26 17:43] tkohout commented on #71
Thanks @michalkvasnicak,
yes, that set me in the right direction. I got my usecase working now. For anybody who would find this useful, I did:
[code]
and then access it from resolver directly on context:

[code]

One gotcha would be that if you want to pass around pubSub using context (as per docs) you have to return it for the dynamodb stream as well:

[code]

Perhaps authorization could be part

[2020-03-05 13:59] fridaystreet opened #72 "Question on scalability and data retrieval limits/cost of Dynamo"
Hi,

Thanks for putting this library together it looks really great. I haven't had a chance to fully test it out yet, but currently implementing it. This isn't an issue, more a question or request for advice. In pretty much every apollo subscription tutorial or example, they are always so rudimentary it's hard to think about how they might apply to a real application and also how they might perfor

[2020-03-06 08:54] AlpacaGoesCrazy commented on #72
I agree that dynamoDB might not be the best fit for this job. Especially if you take into account that dynamoDB stream is triggered not only on INSERT operations but on any other as well (if you want to clean up events table), which results in unnecessary invocations.
However this library is modular and nothing stops you to provide your own implementations of ConnectionManager, EventStore, etc. wh

[2020-03-06 09:05] michalkvasnicak commented on #72
@fridaystreet yes as @AlpacaGoesCrazy mentioned this library has very simple DynamoDB implementation (which is not very suited for real production use for large apps) but you can easily create your own `ConnectionManager`, `EventStore` etc by implementing interfaces:

- `IConnectionManager` - https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/types/co

[2020-03-06 09:06] michalkvasnicak commented on #69
@raheelkhan have you found a solution? It could be nice to have a mention about how to use this with a local stack in README and maybe an example for local stack :)

[2020-03-07 03:25] fridaystreet commented on #72
@michalkvasnicak Thanks for the response. I was actually still using the previous version, I upgraded yesterday and it's taken me a good day to get my head around the changes. But I can see now the new version and implementation is really awesome, well done on the new design and architecture, makes a lot more sense.

I'll have a look at those implementations and will certainly contribute prs back

[2020-03-07 03:35] fridaystreet opened #73 "Subscription field must return Async Iterable. Received: [function]"
I'm getting the below error when trying to subscribe.

Error: Subscription field must return Async Iterable. Received: [function]
    at /Users/paul/development/aleign/graphql-backend/node_modules/graphql/subscription/subscribe.js:169:13

I'm not sure it's necessarily an issue with this library directly, but what I think is going on is that the pubsub.subscribe function from this library is return

[2020-03-07 04:37] #72 closed

[2020-03-07 04:52] fridaystreet commented on #73
scratch that, just realised I obviously didn't read the updated doco properly when moving to new version. Wasn't passing the args on the end as per below

`Subscription: {
    trackerAdded: {

      subscribe: async (root, args, context, info) => context.pubsub.subscribe([`TRACKER_ADDED`])(root, args, context, info)
    }
  }`

[2020-03-07 04:52] #73 closed

[2020-03-07 16:44] raheelkhan commented on #69
Hi Michalkvasnicak/Aws-Lambda-Graphql

I ended up having a graphql server deployed on ECs for handling
Subscriptions. And a separate Serverless GraphQL for queries and mutations
both connected via Redis.

On Fri, 6 Mar 2020 at 1:06 PM Michal Kvasničák <notifications@github.com>
wrote:

[2020-03-08 10:30] michalkvasnicak commented on #69
Ok thank you very much, I'm closing this for now. If anyone stumbles on this issue and has a solution for LocalStack, feel free to post here.

[2020-03-08 10:30] #69 closed

[2020-03-08 10:33] michalkvasnicak commented on #71
@tkohout thank you very much for this valuable info. An example is really good idea, would you have some free time to prepare some really simple solution in a PR?

Also about

Yeah this one maybe should be a part of example too.

[2020-03-08 10:37] michalkvasnicak commented on #72
@fridaystreet thank you very much for your kind words :) I'd really appreciate any information, examples or solutions to improve this library.

[2020-03-18 10:54] IslamWahid commented on #69
@michalkvasnicak Can you please update that on the server example?

[2020-03-18 10:59] IslamWahid opened #74 "Update Docs to reflect the code example"
I see the main README is not updated as the current code example and it's quite confusing that you don't know which one is the correct one. e.g. the dynamodb-local part in the code example it's initialized for local development and that's not mentioned in the README

[2020-03-25 15:08] IslamWahid commented on #65
@Knaackee what was the error in your AWS config, I have the same issue

[2020-03-26 05:32] fridaystreet commented on #65
@Knaackee facing the same issue, Some info on the resolution would be helpful

Cheers

[2020-03-26 07:22] Knaackee commented on #65
My IAM user didn't had the needed permissions. But the error was on my side.

[2020-03-26 08:13] ganey commented on #65
I run a custom implementation but read a lot into this pacakge.

The `Sec-WebSocket-Protocol` error is because API gateway doesn't return any protocol response headers, so the client disconnects.

The 4th parameter in the subscription client example on github specifies the protocols, this needs to be an empty array so that the protocol is not used.

    const wsClient = new SubscriptionClient(

[2020-03-26 08:22] fridaystreet commented on #65
@Knaackee

Thanks for the reply, Interesting that throws the same error. I ended up working it out, the issue I had is that I was using the apollo/wslink library exclusively for the ws client. I wasn't creating my own client using subscriptions-transport-ws as per the doco. After reading the apollo docs it says it uses subscriptions-transport-ws underneath anyway, so I clearly wrongly assumed it w

[2020-03-26 08:23] fridaystreet commented on #65
One other thing worth noting is that unfortunately this now breaks playground from working against a live api gateway implementation as it sends that header. Not sure if there is a way to tell it not to, will do some digging

[2020-03-26 09:49] IslamWahid commented on #65
I got that error while trying to connect through the playground on Chrome, but it worked when I tried it on Safari. I haven't implemented the client yet.

[2020-03-26 10:51] michalkvasnicak commented on #74
@IslamWahid could you please point me to the specific parts of readme where it's wrong? From your description I don't know exactly where is the problem.

[2020-03-26 11:28] michalkvasnicak commented on #65
@fridaystreet 👍 I think that it'd be helpful to add this to the documentation. Could you please add a note about the problem you described in https://github.com/michalkvasnicak/aws-lambda-graphql/issues/65#issuecomment-604293478 to the documentation?

[2020-03-26 11:34] michalkvasnicak commented on #56
Closing this for now. If anyone stumbles upon this issue and has a package that implements some new event source I'd be happy to add links to README about that.

[2020-03-26 11:34] #56 closed

[2020-03-26 16:02] fridaystreet commented on #65
@michalkvasnicak yeah sure no worries. @ganey sorry I hadn't seen your comment before replying, thanks for the info, I hadn't worked out yet why using the vanilla client was different.

[2020-03-30 07:05] michalkvasnicak commented on #69
@IslamWahid I added the code you proposed to server example.

[2020-03-30 07:06] michalkvasnicak commented on #74
The server example should work with and without serverless offline. Basically only thing that should be changing the logic is `process.env.IS_OFFLINE` environment variable, otherwise there is nothing that should mess up with the code that it won't run on AWS.

[2020-04-06 10:50] ebarault opened #75 "Provide/Document API Gateway v2 configuration"
Hi, many thanks for your implementation

Unless i missed it, i could not find details on the AWS API Gateway v2 configuration in the chat example (doc, severless config, cf config)

Could you describe the configuration you used in the example ?

[2020-04-06 10:53] michalkvasnicak commented on #75
@ebarault the configuration is handled by `serverless`. Please see https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/serverless.yml#L76 where websocket routes are defined.

[2020-04-06 10:55] michalkvasnicak commented on #75
Also there is a cloudformation template but I think it's really outdated and at the time when I created this library it wasn't possible to use cloudformation for Api gateway v2.

[2020-04-06 11:41] ebarault commented on #75
@michalkvasnicak i can see the definition of the routes, but it did not realized this was enough with serverless to trigger the websocket apigw creation.
[code]
I was expecting a dedicated configuration stating the "Route Selection Expression" expression.
Could you tell me from aws gui, what is the value for the param ?

[2020-04-06 12:04] michalkvasnicak commented on #75
Is this what you're looking for?

![image](https://user-images.githubusercontent.com/174716/78556501-60acc780-780f-11ea-8f83-f5edbd5cae60.png)

Also are you trying to do this manually or by cloudformation? Because I'd like to know if I can update the cloudformation template to include the setup for websocket too.

[2020-04-06 12:24] ebarault commented on #75
exactly, thank you
i'm using terraform to create the different aws resources

[2020-04-06 12:26] michalkvasnicak commented on #75
![](https://media.giphy.com/media/Kd03ofSatuwMXgJcuz/giphy.gif)

[2020-04-06 12:26] #75 closed

[2020-04-06 18:32] IslamWahid commented on #71
@michalkvasnicak @tkohout  thanks for this info it's really helpful and would be nice to add this to the readme or the code example

[2020-04-07 09:40] IslamWahid opened #76 "Question: behavior of the socket after running serverless deploy"
I have a question I managed to set up everything on the server-side as the example tested that locally and also after deployment to AWS using serverless with apollo playground and everything was fine.

but I was trying to deploy while there's a subscription on the apollo playground to see how it would react in this case and found that the playground isn't getting any disconnect event to close the

[2020-04-07 10:29] michalkvasnicak commented on #76
Unfortunately I don't know how to help you. WebSocket connections are managed by AWS Api Gateway so in that case you are connecting to AGW and not to your lambda directly.

Do you have connection table filled or it's empty too? You said that dynamodb tables for subscriptions and subscription operations are empty after a while, that means that the connection has been closed and your lambda received

[2020-04-07 10:30] #74 closed

[2020-04-07 11:28] IslamWahid commented on #76
@michalkvasnicak the connection table isn't getting empty I found that it's keeping records for days I am trying to connect and disconnect on the playground the only tables that are getting affected are the subscription and operations tables the connection is keeping the records after disconnect

[2020-04-07 11:44] michalkvasnicak commented on #76
It's weird that connection table is not cleaning up the closed connections. Does this happen locally or on AWS?

[2020-04-07 11:50] IslamWahid commented on #76
@michalkvasnicak AWS would try locally and see if it's the same

[2020-04-07 11:53] michalkvasnicak commented on #76
@IslamWahid This really weird. Noone reported the problem like this. Connections must be cleaned up when lambda received disconnect event. Do you have any errors in cloudwatch logs if lambda receives disconnect?

[2020-04-07 12:21] IslamWahid commented on #76
@michalkvasnicak I tried again and also locally and what's happening is after disconnecting the subscriptions are deleted immediately but the connection isn't deleted unless you close the browser tab which is weird I think it should be disconnected and deleted when you stop listening as when you start listening again it's opening another connection. I am not sure if that's a problem with the BE of

[2020-04-07 12:59] IslamWahid commented on #76
@michalkvasnicak the behaviour on AWS when running deploy while there's an open connection is:

After the deployment, the data isn't deleted from any of the tables till there's a new event published then the connection and the subscriptions are deleted as supposed to happen after the deployment.

[2020-04-07 13:00] michalkvasnicak commented on #76
@IslamWahid thank you for information. Ok so playground basically does something else. It connects to websocket but then what are you doing is starting/stopping subscriptions. In that case connection is still alive unless you close the tab because subscriptions are just operations started and stopped. They don't have anything to do with the connection. So that's the answer for the first part.

Reg

[2020-04-07 13:20] IslamWahid commented on #76
@michalkvasnicak Thanks for your continuous reply and help.

1. It would make sense if it's not initiating a new connection when unsubscribing and resubscribe again but what it does is that it initiates a new connection whenever you run it with a subscribe. that seems weird to me. but anyway this seems to be an issue with the playground.

2. Regarding the undeleted connections:
 it happens when yo

[2020-04-08 06:52] michalkvasnicak commented on #76
it happens when you try to connect and the first reply from the gateway isn't returning a specific header Sec-WebSocket-Protocol so the client fails and some other clients can handle that and accept the connection so I think on the server we should make sure that the connection is established well before creating that record. but that seems to happen with the playground only as if you're setting u

[2020-04-08 08:21] IslamWahid commented on #76
I'm using `"aws-lambda-graphql": "^1.0.0-alpha.4"`

[2020-04-10 07:17] michalkvasnicak commented on #76
@IslamWahid sorry for late response, too much work these days :) So you're not using `Server` from `aws-lambda-graphql`. Or are you using that file only as an event processor?

[2020-04-10 10:58] IslamWahid commented on #76
@michalkvasnicak No worries, thanks for your time and help :)
I'm using `Server` as in the example I just shared only the file in which I'm setting up the event processor.
I was trying also to check the gateway and I saw on the dashboard some client errors
so I turned on the logging as it wasn't turned on for the gateway but didn't found anything helpful and since then after enabling the logging I

[2020-04-10 11:01] michalkvasnicak commented on #76
@IslamWahid you're welcome. Please let me know if you find a problem in this library so we can fix it.

[2020-04-10 11:06] IslamWahid commented on #76
@michalkvasnicak sure thing. Thanks for this nice abstracted library and if you need some help I would be happy to contribute.

[2020-05-14 11:59] IslamWahid commented on #76
@michalkvasnicak After testing on staging with the client implementation I still find a lot of dropped connections which are failing to initialize and these are saved on the connections table and will never be deleted here's an example of those records:

[code]

[2020-05-14 12:22] IslamWahid commented on #76
I also found these two errors a lot of them on the WebSocket handler

[code]

[2020-05-18 17:21] ebarault opened #77 "Move JSON.stringify from PubSub to DynamoDBEventStore and make it optional"
Hi @michalkvasnicak,

This is more a question at this stage, but after digging more into your implementation, I wonder what is the rationale for stringifying the message payload in the [PubSub publish method](https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/PubSub.ts#L59) ?

[code]

On the contrary, the **SubscriptionEvent** type [does not expect th

[2020-05-19 10:21] IslamWahid commented on #76
regarding the main topic of this issue, it's solved. However, I got some other issues to report.

[2020-05-19 10:22] #76 closed

[2020-05-19 15:51] michalkvasnicak commented on #77
@ebarault sorry for the late response. That's actually a good question. I'm not quite sure at the moment why I used `JSON.stringify`. I think it's from the legacy 0.x version which used DynamoDB mainly and I wanted to make sure that userland code is trying to store only JSON serializable values to DynamoDB.

Does it cause problems for you?

[2020-05-19 15:53] michalkvasnicak commented on #76
@IslamWahid sorry for late response. Have you found a cause why connections are stored but not deleted afterwards?

[2020-05-19 17:15] ebarault commented on #77
@michalkvasnicak Well actually in particular in the contexte of DyanamoDB i don't see the reason why to force the payload to be a string, as DynamoDB would accept any arbitrary form of JSON object.

We have a situation where the writer of the events in the DynamoDB event table is totally out of scope of this library, as it cannot use a graphql mutation to write the events. So we have to fallback t

[2020-05-19 17:20] michalkvasnicak commented on #77
@ebarault yes I you're right. The problem is backward compatibility. Maybe we could remove `JSON.serialize` from `PubSub` and use it directly in DynamoDBEventStore and add an option to disable it completely so it won't break existing apps after upgrade.

[2020-05-19 17:25] ebarault commented on #77
@michalkvasnicak yes, that sounds like a reasonable way forward to offer more flexibility while keeping backward compatibility

[2020-05-20 15:12] IslamWahid commented on #76
Hi @michalkvasnicak, No worries. I still didn't find why but when I saw the errors above in the WebSocket handler thought it might be related. and wanted to ask you if it makes sense.

[2020-05-20 15:27] IslamWahid commented on #76
I also found these errors on the gateway logs
[code]
[code]

[2020-05-21 02:51] seanchambo commented on #60
Can we get a patch release for this off v0.12?

[2020-05-21 02:52] seanchambo commented on #60
Or even v0.13

[2020-05-26 05:51] michalkvasnicak commented on #77
Ok so I found a little time to do something about this. It seems it doesn't matter if there is `JSON.stringify` because if you are storing events to DynamoDB from some other place and you aren't using `PubSub` at all, then you can store an object, see https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/ArrayPubSub.ts#L35. But I made a change to `PubSub

[2020-05-26 05:53] #77 closed

[2020-05-26 06:19] michalkvasnicak commented on #60
@seanchambo sorry for the late response. I'll look into this later today.

[2020-05-26 07:45] zhaoyi0113 opened #79 "Get `Server sent no subprotocol` error when connect through websocket"
I have setup API Gateway websocket on AWS, the integration is `LAMBDA_PROXY`. and I got this error for `$connect` request.

[code]

The client code is:
[code]

The error happens when client sends connect request to the server.

[2020-05-26 10:40] michalkvasnicak commented on #79
@zhaoyi0113 Try to pass `[]` as 4th argument to `SubscriptionClient`.

Following is taken from readme.

[code]

[2020-05-26 11:12] zhaoyi0113 commented on #79
That solves the issue. Could you let me know what the 4th argument mean here?

[2020-05-26 11:26] michalkvasnicak commented on #79
The fourth argument I think specifies protocols. See the discussion in https://github.com/michalkvasnicak/aws-lambda-graphql/issues/65

[2020-05-26 11:27] #79 closed

[2020-05-26 15:56] michalkvasnicak commented on #60
@seanchambo released as `0.13.1` in `legacy` dist tag.

[2020-05-27 08:27] michalkvasnicak commented on #76
@IslamWahid these errors doesn't seem to be related to the scope of this library. It seems that you are connecting to some data store over and over again so you have too many connections?

For example this could happen if you use Mongo and you are connecting to mongo on each request instead of connecting to it just once.

[2020-05-27 12:08] zhaoyi0113 opened #80 "Why do I need two subscription dynamodb tables?"
I see it uses two subscription tables: `SubscriptionOperations` and `Subscriptions`. Why do I need two of them? Can I combine them into one?

[2020-05-27 15:32] michalkvasnicak commented on #80
@zhaoyi0113 there is nothing forcing you to use both of them. You can implement your own subscription manager by implementing the [`ISubscriptionManager`](https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/types/subscriptions.ts#L16)

[2020-05-27 23:13] zhaoyi0113 commented on #80
cool thanks for that information

[2020-05-27 23:13] #80 closed

[2020-05-28 11:18] zhaoyi0113 opened #81 "How can I call the lambda from another lambda?"
I have tried your library and it works great. One question I have is how I can call the graphql lambda function from another lambda? I can only send `query` `mutation` through API gateway but I don't know how to pass the event from lambda function.

The reason I want to call the graphql lambda from another lambda is to publish event for subscribers. One of my lambda is listening on an event from a

[2020-05-28 11:42] michalkvasnicak commented on #81
@zhaoyi0113 publishing with DynamoDB store is based on DynamoDB stream. So when you write something to event table, then it's automatically picked by lambda function that processes events and sends them to Api Gateway.

You don't need to call the lambda using GraphQL. You just need to instantiate `PubSub` with correct `DynamoDBEventStore` instance.

- instantiation: https://github.com/michalkvasni

[2020-05-28 11:44] michalkvasnicak commented on #81
So basically both lambdas should have the instance with same `event store`. Lambda that publishes message, will send events directly to event store and the lambda that handles GraphQL subscriptions and works as event processor will pick them up and sent to correct connections.

[2020-05-28 12:30] zhaoyi0113 commented on #81
That makes sense. Thanks.

[2020-05-28 12:30] #81 closed

[2020-05-28 16:19] IslamWahid commented on #76
@michalkvasnicak thanks for your response.I'm actually using Dynamo as in the example I would try to investigate it more to see if this is the reason.

[2020-05-28 16:38] michalkvasnicak commented on #76
@IslamWahid you're welcome. Please do let me know if you find out what's the cause. Maybe it could help someone in the future.

[2020-05-28 16:39] IslamWahid commented on #76
@michalkvasnicak sure I will

[2020-05-28 21:42] zhaoyi0113 commented on #81
There is one thing I don't understand is that the lambda is short lived. It doesn't persist event store instance. In the demo, it uses dynamodb to store the event in event store. How is the lambda triggered by dyanmodb? Does it use dynamodb streaming? If yes, the lambda needs to handle events from both API gateway and dynamodb streaming, right?
If I implement a event store which is not using dynam

[2020-05-29 06:19] michalkvasnicak commented on #81
1. event handling is this handler https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/src/index.ts#L134
2. GraphQL over WebSocket https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/src/index.ts#L133
3. GraphQL over HTTP https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-serve

[2020-05-29 11:49] IslamWahid commented on #72
Hello guys, I think I am experiencing some issues related to this topic. I went with the base implementation as the example and used dynamo but after testing on staging I started to notice a big increase in the dynmoStreamHandler lambda duration, it even started to exceed my increased timeout (60 sec). as a quick solution I'm clearing the **Subscriptions** table this fixes the problem but still ne

[2020-06-01 12:44] zhaoyi0113 opened #82 "Can't use the first function inside `withSync`"
I have a subscription has `withFilter` working as below:

[code]

the above code works fine. But if I change the first parameter to a function like below:

[code]
I will get below error:

[code]

It seems that the return value is not correct. I wonder what return value I should use. In `ApolloServer`, it uses the method `pubsub.asyncIterator` but I can't find this method in your `PubSub` class. Ho

[2020-06-01 12:58] michalkvasnicak commented on #82
`PubSub.subscribe` returns a function https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/PubSub.ts#L25.

Given this fact, your second example should be:

[code]

[2020-06-01 13:01] michalkvasnicak commented on #82
See the test case for `PubSub` https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/__tests__/PubSub.test.ts#L27 and also test schema fixture https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/fixtures/schema.ts#L87

[2020-06-01 13:07] michalkvasnicak commented on #82
Looking at your code, it seems you're already using typescript, so you should get an error from typecheck.

[2020-06-01 13:08] zhaoyi0113 commented on #82
Yes, that's right. Your proposal works for me thanks.

[2020-06-01 13:08] #82 closed

[2020-06-09 03:53] fridaystreet opened #83 "cleanup of subscriptions and connections doesn't seem to be working"
Not entirely sure if this is an issue or just working as expected. I'm just trying to get my head around how the cleanup should work as I seem to have lots of old subscriptions. Looking through the cloudwatch logs it looks like all the old subscriptions for a particular event are getting pulled down each time, then discarded. But essentially it's making the lambda function run longer and longer ea

[2020-06-09 05:09] fridaystreet commented on #83
been thinking this through a bit and would I be correct in thinking that a ttl on the subscriptions and operations table would be just as well placed as the events table wouldn't it?

I mean the subscriptions and operations are null and void after 2 hours if AWS is going to ditch the connections anyway. Or maybe I missed something as to why they are needed to be kept?

Cheers
Paul

[2020-06-09 05:29] michalkvasnicak commented on #83
@fridaystreet you're right, they should be removed but this library relied on AWS AG to call `$disconnect` event, but it seems isn't guaranteed by AWS.

* TTL idea: Does AWS create a new connection (new id) after connection reaches its lifetime (2hours) ?
* Unsubscribing during event processing: This one seems to be good idea too because I don't think it should be a responsibility of `Subscription

[2020-06-16 03:43] eduard-malakhov commented on #58
@AlpacaGoesCrazy, I've been thinking about the same issue lately and I picked up on your phrase

Why do we need published events to be communicated back to the publisher? Can you elaborate on this?

[2020-06-16 06:45] AlpacaGoesCrazy commented on #58
@eduard-malakhov
The architecture idea of this project is to communicate subscription message from one source to multiple subscribers in a fan-out fashion.
The publisher lambda in dynamoDB implementation is responsible for listening to incoming messages (in ddb Events table) via ddb streams and then sending them to each subscriber.
Thus it is important to communicate published events from the even

[2020-06-16 06:52] eduard-malakhov commented on #58
@AlpacaGoesCrazy, I see, but why is this not possible with SNS/SQS? The approach that I had in mind was to publish events/messages to SNS/SQS from mutation resolver and attach a lambda to that topic/queue to parse and fan-out these events/messages appropriately to subscribers. Basically, to replace the creation of event items in DDB with publishing to a topic/queue, and replace the subscription to

[2020-06-16 06:59] AlpacaGoesCrazy commented on #58
@eduard-malakhov
I think my original idea was to dynamically create an SQS queue per one subscriber for achieving message delivery guarantee, I am not sure if it will be possible with just one SQS queue for all topics/clients.

[2020-06-16 07:15] eduard-malakhov commented on #58
@AlpacaGoesCrazy, now I see your point, thanks for sharing. I haven't thought this through entirely, but on the surface, I don't see any limitations for a single topic/queue to work, apart from throughput maybe. As a side note, we've been implementing a chat app based on kafka recently, and we had the same design decision: whether to allocate a topic per client or send all messages via a single to

[2020-06-19 12:16] AlpacaGoesCrazy opened #86 "What is the reason behind dynamoDB streams for event store?"
So right now EventStore is using dynamoDB table to store incoming events and ddb stream to relay that events one by one to event processor lambda. Basically something like that:
Event is posted by mutation -> Event is written to Events table to dynamoDB -> DynamoDB stream invokes event processor lambda -> Event processor lambda decides to which connections event should be posted and posts it.

My

[2020-06-19 12:30] michalkvasnicak commented on #86
To be honest, this library started just as a proof of concept that GraphQL subscriptions can be done using the new Api Gateway v2.  Then I added abstractions so it should be fairly easy to completely change the source of events, etc.

Back in the time when I started with this library, there wasn't an option to use for example SQS as a Lambda source. So I used DynamoDB to guarantee that the event w

[2020-06-19 13:16] AlpacaGoesCrazy commented on #86
I mean invoking lambda with this event. It would be better to separate event processor logic from mutations which publish said event.
I am not sure that DynamoDB to guarantee of event processing actually does anything useful.
If event processor times out (due to too many subscribers) event will be processed again and most probably will time out once more getting into infinite loop of posting the s

[2020-06-19 13:25] michalkvasnicak commented on #86
I have few questions because I'm not sure I understand.

If you invoke such function with an event, what'll happen if this function fails? How'd you retry the event processing?
How is event processor logic tied to mutation except that you need to publish an event somehow?

[2020-06-19 13:38] AlpacaGoesCrazy commented on #86
I think this is the only case

The direct invocation is not available for retrying, which is why it is not the best option.

Here are the reasons which may cause EventProcessor to fail I can think of:
1. Received invalid event. This probably should not be retried, as we can not recover from it. Discard the event.
2. Failed to retrieve the list of subscribers for this event. Should be retried.
3. T

[2020-06-20 08:17] michalkvasnicak commented on #86
I think that DynamoDB store should be eventually discarded and replaced for example by `SQS`. Because using SQS we can at least control what we'd successfully processed and what failed. What do you think?

In DynamoDB approach we don't have mechanism to do this granular operations because if whole batch fails it's processed again.

[2020-06-21 06:07] bongjinpark1 opened #87 "Error running on example server and client"
I can't run example with following error.

Credentials Error --------------------------------------

  Error: connect ETIMEDOUT 169.254.169.254:80
      at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1129:14)

     For debugging logs, run again after setting the "SLS_DEBUG=*" environment variable.

  Get Support --------------------------------------------
     Docs:          docs.serverle

[2020-06-21 16:08] AlpacaGoesCrazy commented on #86
I think this approach would require to have a queue per subscriber which might not be viable for when you have lots of them.

[2020-06-22 00:33] bongjinpark1 commented on #87
I solved the problem. You must set a default credential in ~/.aws/credentials. Even if you set profile  in serverless.yml.

[2020-06-22 00:33] #87 closed

[2020-06-22 06:16] michalkvasnicak commented on #86
Queue per subscriber or event per subscriber which is not viable too because you'd need to fetch all the subscriptions for given event and publish the event to all of them. At the moment we have really simple mechanism of subscription tracking which only tracks by event name, so it's not really optimal, it'd be better to have more information stored on subscription so we can easily fetch subscript

[2020-06-22 07:16] AlpacaGoesCrazy commented on #86
I am not sure that the way you encode subscription event name would make any difference, whether it be all int the name like `RECEIVE_MESSAGE_ROOM_ADADASDAD` or some part of it in JSON.

I think with the current implementation we keep the list of subscribers which are relevant to given event and it works fine on that part

Not sure if we can actually do anything in this case, but this seems okay t

[2020-06-22 07:25] michalkvasnicak commented on #86
Yes it doesn't make any difference but the first one (in the name) is basically pushing responsibility to you as a developer and the second could be "automatic".

Yes they are relevant to an event so if we solve event targetting (mentioned above) then this one is solved too.

I'm not sure either.

The first function would be to get subscribers list, split it in batches and send it to processing qu

[2020-06-22 08:45] AlpacaGoesCrazy commented on #86
You mean not compatible with serverless tamplate? Anyway, the library is currently in alpha version, API changes  are to be expected. And if you do not like that developer is required to introduce a bunch of lambda functions in their serverless templates this could be addressed with putting all of our handlers (subscribersHandler, eventProcessor or even webSocketHandler as well) in one lambda and

[2020-06-22 10:15] michalkvasnicak commented on #86
Yes now as I'm thinking about it, it's not really a breaking change because as you said, it's breaking only how the infrastructure is deployed. In that case we can treat this as new event processor and document how it needs to be deployed in order to work correctly.

So this gives me the idea that only things that are common is websocket and http handlers. The rest is up to event source you choose

[2020-06-29 17:26] IslamWahid commented on #83
same issue here!

[2020-06-29 17:33] IslamWahid commented on #83
I see that when the page with subscriptions is open, every 10 mins there's a new connection opened with its subscriptions and the old one is not used anymore and that keep just adding to the subscriptions table with no real connection on the connections table.
<img width="1264" alt="Screen Shot 2020-06-29 at 19 20 19" src="https://user-images.githubusercontent.com/24783905/86037253-5df0f580-ba3f-1

[2020-06-29 23:18] fridaystreet commented on #83
@michalkvasnicak good point on the I'd being reused. I'm not entirely sure. However, we have been running with just the TTL since I originally posted this and haven't experienced the issue again. I haven't had a chance to do any really in depth tracing or load testing, so possibly it could still be worth looking into a clean up during event processing as well, but certainly as a quick fix, the TTL

[2020-06-30 05:59] michalkvasnicak commented on #83
@fridaystreet thanks for the info. If I find a time on the weekend I'll try to implement removal of dead connections stored in table (ones that were not removed by AWS AG automatically by invoking `$disconnect` event). TTL is simplest solution so maybe it needs to be documented too.

Yes this is something we were discussing with @AlpacaGoesCrazy in #86 and also about using SQS as an event source.

[2020-06-30 10:35] IslamWahid commented on #37
@michalkvasnicak is that still relevant I'm getting the same issue with `^1.0.0-alpha.4`

[2020-06-30 10:39] michalkvasnicak commented on #37
@IslamWahid it depends on how the `waitForInitialization` is set up. If your `onConnect` takes too long it can cause the `Prohibited connection` problem.

[2020-06-30 11:18] IslamWahid commented on #37
thanks @michalkvasnicak, I would try to set the `waitForInitialization` and see how would it behave.
I'm just doing the JWT authentication in the `onConnect` but it seems to be not the right place for it. I think it should be moved to the context.
what do you think about that?

[2020-06-30 11:27] michalkvasnicak commented on #37
@michalkvasnicak I store JWT token in context and verify it during context creation. But also you can verify it on demand in protected resolvers, so the answer is as with everything in engineering "it depends" 😄

But maybe just try to tweak `waitForInitialization` if you need to check it only on connect. Now it uses 10 retries with 50ms timeouts so you have around 500ms to resolve `onConnect`.

[2020-06-30 11:31] IslamWahid commented on #37
@michalkvasnicak thanks for your help :D. that sounds good I think `waitForInitialization` is gonna be the solution for the main issue then it doesn't matter so much about the authentication.

[2020-06-30 15:19] IslamWahid commented on #37
@michalkvasnicak but I have a question why are you saving the connection in dynamo without waiting for the `onConnect`, when I saw the `onConnect` I thought I can do the validation on this place to make sure that all the connections are done with a valid token. but it ended up with saving all the connection either it's authenticated or not and now I've to get rid of those non-authenticated connect

[2020-06-30 15:50] IslamWahid commented on #37
@michalkvasnicak just to understand the whole flow when there's a new connection received by the gateway we get it and we create the record on dynamo for it then `onConnect` is called, but in case that `onConnect` is throwing a validation error we don't delete the record from dynamo we depend only on the `$disconnect` event from the gateway which in my case if the validation is done on the `onConn

[2020-07-02 09:52] IslamWahid commented on #71
@michalkvasnicak @tkohout can you guys please explain the benefits of passing the `pubSub` through the context instead of just creating a new object and use it when you need it?

[2020-07-02 09:56] michalkvasnicak commented on #71
@IslamWahid for me GraphQL context can serve as a Dependency injection container that contains all the services, etc. So instead of importing the pubSub or other services that you need, you can expose them in a context and access them anywhere.

[2020-07-02 10:04] IslamWahid commented on #71
@michalkvasnicak I'm thinking about it performance-wise as it gives me more flexibility to just import it whenever and wherever I need to publish an event instead of injecting it, but just wanted to ask if you're doing this for performance reasons.

[2020-07-02 10:07] michalkvasnicak commented on #71
@IslamWahid for me it's just about convenience. It's easier to change type declaration for context and add/remove few things than add/remove multiple import statements from N files.

[2020-07-02 15:06] IslamWahid commented on #71
@tkohout @michalkvasnicak guys, I am trying to use the context function to authenticate rather than `onConnect` but I found that if there's an authentication error thrown it's not being communicated to the client. it's just getting logged on the server and the subscription on the FE doesn't get any error!

![Screen Shot 2020-07-02 at 17 05 50](https://user-images.githubusercontent.com/24783905/863

[2020-07-03 10:22] michalkvasnicak commented on #83
@fridaystreet I took a look and when sending to connection fails, the connection should be deleted and all of its subscriptions. So the problem (as you wrote) is in the event processing when processing of an event fails, then we never try to send anything to connection, so we don't know whether it's stale or not. We can't remove the connection in this case, because the error doesn't necessarily ne

[2020-07-03 10:24] michalkvasnicak opened #88 "Abstract event processor logic so it can be reused"
Now the logic is basically copy paste in `MemoryEventProcessor` and `DynamoDBEventProcessor`. It'd be nice to abstract the shared parts.

[2020-07-03 10:36] michalkvasnicak commented on #83
@fridaystreet I'm not sure whether to check connection after event processing fails or before event is processed.

**After event processing fails**:

We will check the state of specific connection only if event processing failed.

**Before an event is processed**:

We will check the state of specific connection and only then we will process the event.

I think that for developers it's easier to th

[2020-07-03 10:42] fridaystreet commented on #83
@michalkvasnicak yeah I agree with you and after reading your comments, it would make sense to only check on failure I think. However, that said, if the connection is canned (that is killed by telling api gateway to drop it which I think is what unregisterConnection is doing from memory) then the client will just resubscribe. Or at least in the case of apollo it will.

It's been a while since I wa

[2020-07-03 10:47] michalkvasnicak commented on #83
@fridaystreet

There is an API `getConnection()` on `ApiGatewayManagementApi`. So I was thinking that on failure we'd just use this API to check if the connection exists and unregister it. `sendToConnection()` already removes the connection and its subscriptions, see https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBConnectionManager.ts#L145.

[2020-07-03 10:47] fridaystreet commented on #83
and yes agree also, I think for developers there would be an assumption that it wouldn't be processing stale connections. Again I guess with that I was thinking that if the stale connections were filtered out first, then you aren't processing all those connections only to find out they failed at the end. There could be all sorts of db lookups and stuff going on to process an event, it sort of feel

[2020-07-03 10:48] fridaystreet commented on #83
yep that's exactly what I was thinking, use unregisterConnection. Sorry just couldn't remember the exact line off top of my head

[2020-07-03 10:52] fridaystreet commented on #83
I'm a bit balls deep in trying to get v2 of our product out the door at the mo, but that is close to completion. I can't really do much at the mo, but I'd be happy to commit some time to your project after that to help out on anything you need. The project has really been quite pivotal in what we wanted to achieve.

[2020-07-03 11:01] michalkvasnicak commented on #83
Yes I think this one can be based on configuration, it'll need some nice explanation in docs (maybe I should create some documentation website because `README.md` is not really a good place to point out everything).

I'm leaning to make the check before processing as a default, even if it breaks how it works now, so maybe if someone uses this on high volume of events there will be some throttling

[2020-07-03 11:06] fridaystreet commented on #83
sorry for all the comments, it's provoking ideas. We've been running the ttl and it's made a massive improvement.

I reckon with the ttl on subscriptions etc and an attempted to send on event processing failure (effectively invoking unregisterConnection on failure), coupled with a filter on the dynamo call to get subscriptions to discard connections past the ttl it would be bang on the money.

[2020-07-03 11:15] fridaystreet commented on #83
yeah anything that we do in relation to the library I'm happy to share and contribute. Our product isn't opensource, so I can't share IP, but as I say, if it touches your library or is related I obviously consider those opensource contributions. There's also a fair few things we've had to consider in terms of how to handle authentication and how to structure the event names to get the best perform

[2020-07-03 11:19] fridaystreet commented on #83
oh sorry I just realised you were meaning just tell you what the product is. Yeah of course. it's called ALEiGN you can find it at http://aleign.com

all the info there references the current v1. It was an express based application built for an mvp. It wasn't massively scalable or consistent. v2 is a complete rewrite, based on serverless, graphql, and a new event-driven architecture

[2020-07-03 11:37] michalkvasnicak commented on #83
I'd very appreciate that because I wasn't really using this library (I've changed a job so at the moment I'm working on something completely different).

[2020-07-03 11:46] IslamWahid commented on #83
@michalkvasnicak @fridaystreet guys can you please explain it more
- if the connections table is being cleaned correctly, so why its related subscriptions aren't being deleted in this case?

- also, you're talking about 2 hours of AWS AG $disconnect event I experience something different I'm not sure if it's the same or not every 10 mins I see on the apollo client it tries to start a new connectio

[2020-07-03 12:01] fridaystreet commented on #83
@IslamWahid yeah I see the same thing every 10 mins, I think you're right that the connections are re-established every 10 mins through api gateway, but that is invoking the $disconnect which is causing this library to clean up the connections and subscriptions automatically.

I only ever see the number of connections currently active in the db and only subscriptions for those connections from wha

[2020-07-03 12:07] IslamWahid commented on #83
@fridaystreet thanks for your reply and it would be great if you share your TTL quick solution.

[2020-07-03 12:07] michalkvasnicak commented on #83
Yes there is 10 minutes idle connection timeout https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html.

[2020-07-03 12:09] michalkvasnicak commented on #83
@IslamWahid I think that TTL index can be created on `createdAt` column in connection table.

[2020-07-03 12:11] michalkvasnicak commented on #83
@fridaystreet do you apply TTL on subscriptions as well?

[2020-07-03 12:12] fridaystreet commented on #83
@IslamWahid because I haven't had time to submit a PR to @michalkvasnicak I've basically just extended his classes to add the extra functionality for now and created our own custom versions of the sub manager and conn manager

Remebering you'll also need to add the config to serverless file to create the tables with a ttl.

[code]

[2020-07-03 12:13] fridaystreet commented on #83
would be nice, but the ttl has to be a unix timestamp

[2020-07-03 12:15] IslamWahid commented on #83
@fridaystreet @michalkvasnicak thanks for your help, guys!
I would really like to get that in the library so if you don't have much time I may prepare a PR for it.

[2020-07-03 12:18] IslamWahid commented on #83
also, it would be great if we could prepare some guidelines and best practices like what @fridaystreet mentioned above to be documented.

[2020-07-03 12:20] michalkvasnicak commented on #83
I'd really appreciate that. Could you please make it configurable in `DynamoDBConnectionManager` and `DynamoDBSubscriptionManager`?

Now I'm really thinking about some simple website for documentation. Something like react-hook-form has, because keeping this in README is not really maintainable and developer friendly.

[2020-07-03 12:22] michalkvasnicak opened #89 "Prepare documentation website"

[2020-07-03 12:23] fridaystreet commented on #83
@michalkvasnicak yeah react-hook-form is nice site hey, just found that the other week

[2020-07-06 11:08] IslamWahid commented on #83
@michalkvasnicak @fridaystreet may you please review the PR, so we can get it published ASAP

[2020-07-06 11:59] michalkvasnicak commented on #83
Marking this as closed by #90 for now.

@IslamWahid great work, thank you!

[2020-07-06 11:59] #83 closed

[2020-07-07 06:18] michalkvasnicak opened #91 "[DynamoDB] - Filter out expired subscriptions during event processing"
Expired records appear in results even if they were marked by DynamoDB to be deleted. When a list of subscribers is returned we need to check the `ttl` field value whether the subscription is already expired. Same applies to connnections.

We'd need to update `ttl` settings to accept `false` value (saying ttl is disabled in case of `false`) so we can disable this check.

[2020-07-14 08:05] #91 closed

[2020-07-16 14:49] clmntrss opened #93 "webSocketProtocols error on Chrome"
Hello thanks for your work,

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/Server.ts#L244

On this line if we pass a few webSocketsProtocols like in an array that will always return false. Could be possible to add something like this or add params to the createWebSocketHandler() to customize response ?

`|| event.headers['Sec-WebSocket-Protocol']

[2020-07-16 17:00] michalkvasnicak commented on #93
Hello Clement,

Thanks for the report. Unfortunately I’m not able to fix that until Monday.
I’ll take a look to this issue on Monday or feel free to open a PR.

On Thu, 16 Jul 2020 at 16:49, Clement <notifications@github.com> wrote:

--
Michal Kvasničák - web developer

Kontakt:
web: www.kvasnicak.info
mobil: +421 908 876 467
skype: misiak_michal

[2020-07-20 10:05] clmntrss commented on #93
Hello Michal,

Thank you very much for your prompt response,

Perhaps the best option would be to remove ` === 'graphql-ws'`

Let me know if it's ok for you, I can also do a PR if you'd prefer

[2020-07-20 22:29] ObinnaAka opened #95 "Subscriptions and SubscriptionsOptions DB Empty"
Hello,

I've been trying over the past few days to get subscriptions working with my application. I set things up like you did in the example and I used Serverless to deploy it to AWS. However, I can't get subscriptions either on the website or testing with playground.

****
In the dev tools, I can see that it is connecting to the webSocket, and receiving an acknowledgement.

![image](https://user

[2020-07-21 06:34] michalkvasnicak commented on #95
@ObinnaAka it seems that your client is subscribing and unsubscribing over and over again (screenshot # 1). When `stop` operation is sent, the subscription is deleted. So I'd check the client side because server code seems to be OK.

[2020-07-21 06:35] #93 closed

[2020-07-21 06:39] michalkvasnicak commented on #93
Released as `1.0.0-alpha.10`

[2020-07-21 06:40] michalkvasnicak commented on #95
Please in your resolver, return the result of `subscribe` call.

[code]

[2020-07-21 18:25] ObinnaAka commented on #95
Hello @michalkvasnicak  thank you for the help! The subscribing and unsubscribing was on purpose, I was just testing out the connection. When I leave it on the page, it remains consistently connected, but there's still no data coming from the subscription.

And thank you for your suggestion. I tried using that but unfortunately it still doesn't work. And the Subscriptions table still remains empty

[2020-07-22 06:17] michalkvasnicak commented on #95
Ok I found a problem, you need to pass `SubscriptionManager` to `ConnectionManager` in `subscriptions` option (https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBConnectionManager.ts#L38).

Just change:

[code]

to

[code]

I think you should have errors in cloud watch logs for your function.

[2020-07-22 06:19] michalkvasnicak opened #99 "Add validation for parameters in constructors"
Basically now we're relying only on Typescript typecheck but some users are using Javascript so it'd be good to have native validation for options in constructors.

[2020-07-23 03:07] ObinnaAka commented on #95
Thanks again @michalkvasnicak  but unfortunately it didn't work. You were right though, I occasionally get an error in my cloudwatch log.

![image](https://user-images.githubusercontent.com/33449354/88248312-5d2a3880-cc66-11ea-8997-7084705a32da.png)

I did some tracing and logging to see if some functions were being called at all and it seems like the subscription is not executing.

None of these

[2020-07-23 06:23] michalkvasnicak commented on #95
How do you test it ? Could you please explain client side steps you do in order to test your server implementation? Because I don't see any problem with the server code you provided.

[2020-07-23 06:28] michalkvasnicak commented on #95
Error in your logs can be caused by this line https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/execute.ts#L97 which means that operation you sent is malformed.

But I'd need more information. Is it caused by sending a mutation or does it happen when you're trying subscribe?

[2020-07-23 06:39] michalkvasnicak opened #100 "Fix doing includes over not existing header."
After #97 it stopped working because the header is not always present.

[2020-07-23 06:46] #100 closed

[2020-07-25 04:23] ObinnaAka commented on #95
Hello @michalkvasnicak , unfortunately it still isn't working. Here is a screenshot for my frontend implementation
****
Here is the index.js for the React App
[code]

****
Here is the subscription query
[code]
****
Here is the useSubscription
[code]

[2020-07-25 06:19] michalkvasnicak commented on #95
What version of `aws-lambda-graphql` do you have? Can you upgrade to `1.0.0-alpha.13` because as I wrote above, versions `alpha.10-12` are deprecated because of an error in headers processing.

If that won't help, can you provide a minimal project repository? But I don't think this is a problem with `aws-lambda-graphql`. There must be something else going on in your code.

I need to see how you pu

[2020-07-25 23:03] ObinnaAka commented on #95
Yes, I believe I upgraded to 1.0.0-alpha.13 before testing it again. I invited you to the repository, and the branch name is `serverless`. The resolvers are under `server/graphql/resolvers`

 And these are the cloud watch logs:

[log-events-viewer-result.xlsx](https://github.com/michalkvasnicak/aws-lambda-graphql/files/4976863/log-events-viewer-result.xlsx)

The operations header error does occur

[2020-07-27 07:11] michalkvasnicak commented on #95
I haven't found any error in your repository in server package. I haven't tested it because it relies on Mongo so it's not really something I can just quickly run.

The error logged in your logs can be caused by invalid parsing of GraphQL operation so it would be helpful to see a JSON operation that is being sent when the client is subscribing to some subscription. The problem happens in `execute`

[2020-07-27 07:11] #95 closed

[2020-07-29 08:58] clmntrss opened #102 "Add debug mode and logs"
Hello again, I would like to know if it would be possible to add a debug parameter in the function that would allow to have logs in the Cloudwatch AWS?

I can possibly look on my side and prepare a PR to add it if you are ok with that.

[2020-07-29 09:05] michalkvasnicak commented on #102
@clmntrss what would you like to log?

[2020-08-03 07:20] clmntrss commented on #102
@michalkvasnicak  I would like to log

- A new connection from the user
- When a new Subscription is created
- If an event is discarded why
- When an event is send to the Subscription
- When an user logout

With some details on the user,subscription and event

[2020-08-03 10:11] michalkvasnicak commented on #102
@clmntrss Ok I don't see any problem with optional `debug` flag. Could you prepare a PR ?

[2020-08-03 11:54] clmntrss commented on #102
@michalkvasnicak Yes of course. I  could do that in 2 week when I'm back from vacations

[2020-08-09 15:47] powerfulj opened #104 "How to integrate with Apollo Server?"
Thanks for developing such an awesome package for us.
I have a stupid question here.

What I want to achieve is that I want to merge this package into our main application which is based on Apollo Server.
In your example, the endpoints are all generated from the "Server" class.
Question is how could I integate it with Apollo Server, is there any sample?

Thanks
CJ

[2020-08-10 06:42] michalkvasnicak commented on #104
It already uses `ApolloServer` for HTTP requests because `Server` extends `ApolloServer` from `apollo-server-lambda`, for WebSocket connections it extends it with the handler for WebSocket events.

[2020-08-11 09:48] Adel-ak opened #105 "subscriptions not working properly"
Hello michal,

Thank for making such a helpful package, i'm currently facing a minor problem with subscriptions, and here is whats going on.

I'm working on a app, where when a customer creates a new order (A react native application), which will trigger a mutation and then publish a subscription event to our web app (A react application), it successfully triggers and the new order is received and

[2020-08-11 11:30] michalkvasnicak commented on #105
Hey @Adel-ak , please try to append `await` to `pubSub.publish()` because it's async and maybe your event loop closes sooner so `eventStore` won't get a chance to store the event to dynamodb.

Have you checked logs of your functions? I saw this happening in chat app when I deployed buggy version of the server where processing of DynamoDB event stream failed and it caused the stream to pause. Then

[2020-08-11 11:43] #104 closed

[2020-08-11 16:24] Adel-ak commented on #105
@michalkvasnicak that worked like a charm, thank you, you saved me from losing my mind.

If i may ask, any idea why it worked fine with the new order subscription and not with the order change subscription, i'm kind of craving for a answer and cant think of any reason.

Also, i think this piece of information will benefit others, if you want i could make a PR and find it a place in the docs.

[2020-08-11 17:18] michalkvasnicak commented on #105
@Adel-ak unfortunately I don't know why it worked only for `newOrder` subscription. There can be numerous reasons why. For example if you have some nested resolvers on the result type of `createOrder` mutation that you ask for when you send this mutation, it could cause event loop to last longer and process the published event. But `changeOrderStatus` returned only boolean so maybe the function ju

[2020-08-11 17:18] #105 closed

[2020-08-12 16:50] michalkvasnicak opened #106 "Projects that use this library"
If you want to share your project that uses this library please do so here 🙂

[2020-08-14 19:21] miliu99 opened #107 "WebSocket handshake: Unexpected response code: 502?"
I tried to integrate this component into my project and got this error:

`WebSocket connection to 'wss://2nilfiusp1.execute-api.us-east-1.amazonaws.com/dev' failed: Error during WebSocket handshake: Unexpected response code: 502
`
Any tip how to trouble-shoot this?

[2020-08-14 22:24] miliu99 commented on #107
Ah, somehow I got that problem resolved, but get a new one:

`WebSocket connection to 'wss://2nilfiusp1.execute-api.us-east-1.amazonaws.com/dev' failed: WebSocket is closed before the connection is established.`

I'm wondering is this the right endpoint? In the document, it says "please provide the uri of the api gateway v2 endpoint", but I got it from serverless.yml output as:
[code]

Is this v2?

[2020-08-15 08:54] michalkvasnicak commented on #107
wss:// is the websocket endpoint so that’s correct. Did you look to your
websocket handler lambda’s cloudwatch logs of there is some error?
Otherwise it’s hard to help you without the code.

On Sat, 15 Aug 2020 at 00:24, miliu99 <notifications@github.com> wrote:

Michal Kvasničák - web developer

Kontakt:
web: www.kvasnicak.info
mobil: +421 908 876 467
skype: misiak_michal

[2020-08-15 21:12] miliu99 commented on #107
Thank you very much, Michal, for your response. Actually, I got it working now to some degree. Yes, that wss endpoint is correct, but for some reason it is very unreliable, and I often get "WebSocket is closed before the connect is established." I looked at the WebSocketHandler Lambda CloudWatch log, and see three kinds of errors:

[code]

[code]

[code]

Do you see any clue in those errors?

The

[2020-08-17 06:49] michalkvasnicak commented on #107
From errors above it seems that you forgot to instantiate some part of your GraphQL server. First errors seems to indicate that `SubscriptionManager` is missing. Second error is clear, there is no connection registered. Please check if you have `SubscriptionManager` instantiated, see the example https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/src/inde

[2020-08-17 06:49] #107 closed

[2020-08-17 07:06] michalkvasnicak opened #108 "Unify DynamoDB table name constructors property names"
`DynamoDB*Manager` classes allow developers to change the name of tables in DynamoDB but the problem is that the naming is not consistent. Ensure we use a format like `connectionsTable` or `subscriptionsTable` and not `subscriptionsTableName`.

[2020-08-17 07:26] #99 closed

[2020-08-17 12:32] cjnoname opened #110 "How to create an asynchronous server?"
[code]

Hi,

I'm a solution architect from a mid-sized company that has more than 100,000 members around the world.
We decided to use your package on our main product (pure serverless solution).

Above is the copy from your sample code.
The requirement is, we need to create to the apollo server in async way (for db connection and schema generate),  and my developers cannot make it running.

Here i

[2020-08-17 12:37] michalkvasnicak commented on #110
I think it should be enough to return a promise from lambda handlers.

[code]

Because from your example Lambda will basically finish immediately.

[2020-08-17 12:44] cjnoname commented on #110
Thanks for your reply, sorry I didn't get the point.

Could you support a short example? Because our code does work.

Thanks
CJ

[2020-08-17 12:47] michalkvasnicak commented on #110
Your code misses `return` in handlers according to code you provided.

[code]

So it should be:

[code]

[2020-08-17 13:11] cjnoname commented on #110
Thanks for your help. Actually yes, my code was wrong. Because I cut some piece of my code to you that missed the return.
But it's not the case.

Finally get it working, it's because:

[code]

We didn't call the dynamoDBStreamHandler  with event and context. There's a small type error so we need to cover it with "as any"

Now it's working... Tons of thanks!

This is the final code. I think there m

[2020-08-17 15:16] #110 closed

[2020-08-20 11:44] minhazfm opened #111 "Cannot read property 'operation' of null and could not connect to websocket"
First I just want to say thank you @michalkvasnicak for this library! Finding this library hopefully saves me time building out a new service I'm trying to implement.

I am trying to test this library locally using `serverless-offline`, and believe I have followed all requirements, but keep getting the following error when I subscribe to my subscription:

[code]

and then another error when I try

[2020-08-20 11:47] michalkvasnicak commented on #111
Do you export your lambda handlers? See https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/src/index.ts#L132

[2020-08-20 11:50] minhazfm commented on #111
Yes, I do already export the handlers, have added my handler code above just now

[2020-08-20 12:40] michalkvasnicak commented on #111
It's really hard to say what's the problem. As you can see example is working so basically you'll need to go through and compare what are you doing differently.

Only thing that maybe can help you with troubleshooting is that maybe the request sent to WebSocket handler is malformed? Because it seems that it has a problem with https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packag

[2020-08-20 14:01] miliu99 commented on #107
Hi Michal, Thank you very much for the hint. I did read the example code several times. My subscription is working most of the time, but it's just not very reliable. If you say "SubscriptionManager is missing", it should not work at all, right?

You are probably right on the second and third error above which might be generated when I try to connect from my local server. In the recent CloudWatch l

[2020-08-20 14:39] minhazfm commented on #111
I was able to log the earlier operation in that file (I'm using GraphQL playground to subscribe, and then Insomnia to send the mutation). Not sure if you notice anything off. I'll keep at it:

[code]

So I was able to run the `chat-example-server` locally, but am confused how I could test it with just a GraphQL playground and Insomnia. Could you provide an example/steps to do that?

[2020-08-20 21:23] minhazfm commented on #111
Thanks for your help @michalkvasnicak, I was able to figure out the multiple issues that were causing the webSocket connection to close out. Closing issue now. Thank you again for your hard work on this library!

[2020-08-20 21:23] #111 closed

[2020-08-23 15:39] n1te1337 opened #112 "Appending Stage name to the Endpoint causes AccessDeniedException when using APIGW Custom Domains"
API Gateway Custom Domains map to an Endpoint **and** Stage name ([link](https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html)), meaning:
default invoke uri: `api-id.execute-api.region.amazonaws.com/stage`
becomes: `example.com`

Currently, the stage name is always appended to the endpoint regardless of the domain type:
https://github.com/michalkvasnicak/aws-lamb

[2020-08-24 06:34] michalkvasnicak commented on #112
@n1te1337 Please feel free to open a PR for this. I don't have time at the moment to implement this, so if it's blocking you I'm happy to accept a PR.

[2020-08-24 09:01] n1te1337 commented on #112
@michalkvasnicak Sure, I can take a stab at it.

Any preference where the flag should live? Potentially the `subscriptionOptions` object might be a good home for it:
https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/Server.ts#L61-L121

[2020-08-24 09:43] michalkvasnicak commented on #112
@n1te1337 Is it possible to automatically detect from `requestContext` ?

[2020-08-24 09:45] michalkvasnicak commented on #112
Otherwise I'm ok with your suggestion too 👍

[2020-08-24 09:48] n1te1337 commented on #112
@michalkvasnicak the only way to detect it from  the`requestContext` would be to check if the `domainName` field has a `*.amazonaws.com` suffix. Thoughts?

[2020-08-24 09:53] michalkvasnicak commented on #112
Ok, I don't like detecting it that way, I think for now introducing new option to `subscriptionOptions` should be sufficient. Later we can extend the option with some function that can be used to detect endpoint. Or maybe you can implement it right away as `subscriptionOptions.connectionEndpoint?: string | (event: APIGatewayWebSocketEvent) => string`.

Could you please document it too?

[2020-08-24 10:31] n1te1337 commented on #112
@michalkvasnicak I've added it as a `string` for now. Let me know if you have any feedback.

[2020-08-24 11:08] #112 closed

[2020-09-03 09:19] clmntrss opened #114 "Multiple subscriptions"
Hello again, I would like to know if it is possible to create several subscriptions in order to subscribe to several types of events.

For example :

- Client creating 2 subscriptions on events "A1" and "A2".
- Server return events with type "A1" and "A2".

Currently, it is not possible to pass array with several entries in the initial subscriptions :

https://github.com/michalkvasnicak/aws-lambda

[2020-09-03 09:40] michalkvasnicak commented on #114
I'm not sure now why I did it that way but the problem seems to be with subscription operations table where we have only `subscriptionId` as `HASH`:

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/chat-example-server/serverless.yml#L145

So we have a subscription table that holds subscriptions' id by events:

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/ma

[2020-09-03 09:43] michalkvasnicak commented on #114
Do you think using an index would be easier so we can get rid of the `SubscriptionOperationsDynamoDBTable` table or is there any limitation?

[2020-09-03 10:03] ebarault commented on #114
Hi @michalkvasnicak,

Thanks for your reactivity on this.

I don't have a precise enough understanding on how you use the `SubscriptionOperationsDynamoDBTable` table to properly answer your question, but I can describe the way we understood it'd be running and how we could interface with it.

We have an external system that looks the content of the `SubscriptionsDynamoDBTable` table to trigger som

[2020-09-03 10:19] michalkvasnicak commented on #114
@ebarault `SubscriptionOperationsDynamoDBTable` is used to find an `event` by `subscriptionId` which consists of `connectionId` and `operationId` and this is a problem because it allows us to store only on event per operation.

In order to allow to subscribe to multiple events in one subscription resolver e.g. `pubSub.subscribe(['A1', 'A2'])` we need to add a `RANGE` key on `event` column in `Subs

[2020-09-03 10:34] michalkvasnicak commented on #114
@ebarault if you have only one GraphQL client in your application then you are subscribing over the same connection with the same `connectionId` but the operations has unique `operationId`. We use this `operationId` and `connectionId` to create `subscriptionId` so we are already able to store all the events we subscribe to in the `SubscriptionsDynamoDBTable`. But the problem is that `SubscriptionO

[2020-09-03 10:43] ebarault commented on #114
@michalkvasnicak
I don't expect our external system to break as long as we write one record for each subscribed event in the `SubscriptionsDynamoDBTable` table. This is currently in dev phase, so schemas can change :-)

As for the choice between the 2 scenarios, I now understand, thank you for providing the details. So, as I thought, the `SubscriptionOperationsDynamoDBTable` just has a technical p

[2020-09-03 11:33] michalkvasnicak commented on #114
I'm not an expert on DynamoDB but we can replace `SubscriptionOperationsDynamoDBTable` with global index over `SubscriptionsDynamoDBTable`. Only drawback I can think of is eventual consistency and I don't know what implications it'd have during unsubscribing because we need to know which events are subscribed to in given subscription.

Maybe there is a third way to use single table design so we'd

[2020-09-03 16:05] ebarault commented on #114
@michalkvasnicak, could you precise your fears regarding eventual consistency, and most of all the difference you see from having one or two tables?

Regarding the 3rd scenario, with a single table design: what other tables would be aggregated in this single table ?

[2020-09-04 06:37] michalkvasnicak commented on #114
@ebarault it could cause `SubscriptionsDynamoDBTable` to contain dead subscriptions (because we unsubscribed sooner than the operations have been written) or fail when client is unsubscribing and the operation is not propagated in index. But I think those could be just edge cases (as I said I'm not an expert so I don't really know how DynamoDB Global Indexes behave in real world scenario).

With s

[2020-09-04 06:38] michalkvasnicak commented on #114
Maybe it could be introduced as a new package just with new DynamoDB code that uses new table design. So this way we won't introduce a breaking change in a lib but you will have a choice to use different adapters.

[2020-09-04 08:00] ebarault commented on #114
Ah I see what you have in mind.

But our external system expects to have only one type of record for the subscriptions (one record per subscribed event), so given the above discussion, i'd stick to the tables as they are right now, adding the Range key in the `SubscriptionOperationsDynamoDB` table as you suggested in:

And one in all, it won't be a breaking change. What do you think ?

[2020-09-04 08:12] michalkvasnicak commented on #114
@ebarault yes I think this is the easiest solution. For single table approach I'd rather create a new package.

[2020-09-04 08:29] michalkvasnicak commented on #114
Even the approach with `RANGE` key is breaking change because to delete a record you need to address it with `HASH + RANGE` key but this can be solved at library level.

[2020-09-04 13:30] chrishoyes opened #115 "Messages in dynamo db, but subscription not working"
Just to say, this project is great!

We have seen an issue recently whereby entries pop up in dynamo db (in connections, subscriptions, events, and operations) however the messages are not being delivered to the subscription.
A little note on the setup. We left the ttl as default (2 hours) however have not enabled the TTL on the dynamo db tables - which we need to do soon.

We cleared out all the

[2020-09-05 09:08] michalkvasnicak commented on #115
@chrishoyes maybe the event processor fails so DynamoDB stream keeps getting stuck on invalid batch? Hard to say, is there anything in your logs for event processor handler?

[2020-09-05 17:26] cjnoname commented on #115
Hi @michalkvasnicak,

I got the same issue. My code works perfectly on my local (offline env) but does not work on AWS.
The event table has new records, the trigger is there, the lambda is called and no errors on the cloudwatch.
The dynamo records would be there for a long period of time.

Not sure what is wrong with my code. I'm using Redis(Elasticache) for connectionManager and subscriptionManag

[2020-09-06 10:00] michalkvasnicak commented on #115
@cjnoname that's hard to say if there was an error in event processing you should see it in Cloudwatch logs for your DynamoDB stream handler:

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/e3cbe5ee88c0d0cf723260d232dcacc260a8ffec/packages/aws-lambda-graphql/src/DynamoDBEventProcessor.ts#L28

[2020-09-07 08:08] ebarault commented on #114
Hi @michalkvasnicak
How do you see the next move on this feature, and how can we help? We can definitely test and report (we are running our app in a full AWS context) at least.

[2020-09-07 09:12] michalkvasnicak commented on #114
@ebarault I don't have much time this week so if have some spare time to work on this I'd appreciate it. We have 2 ways how to implement this without breaking change.

## 1. DynamoDBSubscriptionManager option

Add an option to `DynamoDBSubscriptionManagerOptions` saying whether we have `RANGE` on `event` or not. This way we  default to keep it compatible with current implementation or use new logi

[2020-09-07 09:14] michalkvasnicak commented on #114
Later in version stable 1.0 version I'd get rid of the old code and use only `DynamoDBSubscriptionManager` that supports multiple events per subscription.

[2020-09-07 09:48] ebarault commented on #114
@michalkvasnicak ok, how do you see the way to introduce another implementation of `DynamoDBSubscriptionManager`?
- a feature flag to select the preferred one ? (defaulting to the current one?) then what name should we have for this flag + new class
- just offering the new implementation, the older new being available in older releases ?

[2020-09-07 09:52] michalkvasnicak commented on #114
@ebarault I thought to offer both implementations but the new one needs a new name at least for now until 1.0 is released. In 1.0 will new subscription manager be named `DynamoDBSubscriptionManager` and the old one will be deleted.

So basically we should a new class but I don't know how to name it. Any ideas? I don't want to use feature flags because in that case we need to document them.

[2020-09-07 09:56] ebarault commented on #114
@michalkvasnicak hmm ok but what to you have in mind for selecting which implementation the backend should use? by detecting at dynamodb table level whether the event key is set as a Range key in the operations table ?

[2020-09-07 10:13] michalkvasnicak commented on #114
@ebarault I thought we'll have another class you will import and use. For example `DynamoDBRangedSubscriptionManager` (of course this name is made up). So in your codebase you'd just import different class instead of `DynamoDBSubscriptionManager` in order to allow for multiple events per subscription.

[2020-09-07 10:18] michalkvasnicak commented on #102
@clmntrss any news about this issue? Would you like to do it?

[2020-09-07 10:49] clmntrss commented on #102
Yes it's almost done, I'll make a PR asap.

I added some console.log to view some events in Cloudwatch with a debug flag to enable them

[2020-09-07 11:30] ebarault commented on #114
ahh yes of course. fine by me, this will be easy to test along the way.

[2020-09-07 11:54] michalkvasnicak commented on #114
@ebarault would you like to work on this?

[2020-09-07 11:56] ebarault commented on #114
@clmntrss will work on the implementation, and i'll set up a new aws deployment to test it

[2020-09-07 11:57] michalkvasnicak commented on #114
@ebarault great! Thank you. @clmntrss I'll assign this to you 🙂

[2020-09-07 13:22] cjnoname commented on #115
@michalkvasnicak

I added the log into code by following your way but there seems no error.

Everything works properly except the graphql Subscription endpoint is not hit.

What might cause this issue? Would the item in dynamodb be deleted after successfully processed?

Thanks

[2020-09-10 07:01] #102 closed

[2020-09-16 18:05] kvhnuke opened #118 "should return all subscriptions"
https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBSubscriptionManager.ts#L145

should be `return { value, done: done && value.length === 0 };` as it is possible for the filter to return empty array due all returned results having lower ttl value, however since the `ExclusiveStartKey` not null, it should continue to get more results

also
http

[2020-09-17 08:44] michalkvasnicak commented on #118
@kvhnuke thanks for the report. I'm not sure if I understand correctly. In first case what do you propose as a way to detect if the iterations is done? You say `value.length === 0` is not enough, should we check if `ExclusiveStartKey` is empty?

In second case we should do the check whether `LastEvaluatedKey` is empty instead of `items.length === 0` ?

[2020-09-17 17:50] kvhnuke commented on #118
first case should return `return { value, done: done && value.length === 0 }` since you already have the  `done` variable I simply used it and it works as intended

yea for the second case you have to check whether `LastEvaluatedKey` is empty

[2020-09-18 06:56] #118 closed

[2020-09-18 07:00] michalkvasnicak commented on #118
@kvhnuke released as `1.0.0-alpha.18`. Thank you very much. Please consider moving the information about your project to #106

[2020-09-18 12:08] kvhnuke commented on #106
We are using this library on www.ethvm.com, it is performing really well :)

[2020-09-23 08:53] fridaystreet commented on #106
Hi Michael, great library. We are using it for [aleign.com](https://aleign.com)

[2020-09-23 09:02] fridaystreet opened #120 "connection_terminate isn't handled by protocols and throws error"
If client.stop() is called in apollo client, the ws sends 'connection_terminate' operation. This isn't handled and throws

'Invalid operation: Only GQL_CONNECTION_INIT,…QL_START or GQL_STOP operations are accepted'

I'm just making a note of this Micahel, when I get time I'll do a PR

[2020-09-23 09:03] michalkvasnicak commented on #120
@fridaystreet that'd be great if you do a PR 👍

[2020-09-23 12:33] #115 closed

[2020-09-25 09:15] clmntrss opened #121 "Old operations not deleted"
Hello, with my work on #114 .I noticed that the subscription table keeps the old operations like this.

![image](https://user-images.githubusercontent.com/28146493/94249346-11269900-ff20-11ea-8b29-c366189d8a98.png)

Is this intentional? Would it be possible to add the deletion of these old operations with an optional flag or with another way ?

Edit : those operations are deleted when the connecti

[2020-10-02 07:21] michalkvasnicak commented on #121
@clmntrss Do you have `TTL` enabled on the table?

[2020-10-02 07:54] clmntrss commented on #121
Yes the  `TTL` is enabled and delete with it work on my table.

My problem is more about the case :

- I update my subscription, it creates a new operation ("foo:2") in the table, but the previous one (eg: "foo:1") is not deleted . As if the table represents a history of the different operations operated by the client

[2020-10-02 08:43] michalkvasnicak commented on #121
By updating a subscription do you mean changing its variables? In that case it's something that is not handled by this library I think so we'd need to fix that. Because currently library relies on an operation that says you unsubscribed from the subscription but the change of variables obviously works differently and I didn't know about that.

Could you please investigate what operations apollo cl

[2020-10-02 09:38] clmntrss commented on #121
Could it work if when creating a new operation (foo:2) we unsubscribe (foo:n-1)?

I'm going to look at what happens in the backend when you change the underwriting variable but this solution could work

[2020-10-02 09:41] michalkvasnicak commented on #121
Yes if you first unsubscribe then the operation will be deleted, but the problem with changing variables seems to generate completely new subscription but maybe we can react to that somehow but I don't know what operations is apollo client sending in that case. So it'd be easier to have a look on operations and make a solution based on them.

[2020-10-03 23:44] chrishoyes opened #122 "Unit test subscriptions"
Hi, as I have said before, great project!

I would like to write some simple unit tests on my subscriptions, even if it is just to mock the dynamo pubsub class and expect the subscribe method to be called.

We are currently using the apollo-server-testing for mutations, and queries, but I have not found a nice way yet of testing subscriptions.

Thank you

[2020-10-05 06:39] michalkvasnicak commented on #122
@chrishoyes I'm not sure if `apollo-server-testing` supports `subscription`. But if you want to check if subscription is registered you just need a mock for `PubSub`. With these kind of tests you just test if event is published. But if you want to test whether your subscription resolver is working, it's little bit tricky because you need to trick the server that it actually received an event a sta

[2020-10-05 13:52] clmntrss commented on #121
From what I saw, when I update the variable of the subscription my client send a GQL_STOP with the ID of the operation then created a new subscription with GQL_START and new variables.

So it's looks like this function is not called when this operation is send from the client

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/54b59fcebc4ae5bd3ded494e3aab47ae6b3dac9e/packages/aws-lambda-gr

[2020-10-05 14:13] michalkvasnicak commented on #121
@clmntrss I don't know, we have tests for this event https://github.com/michalkvasnicak/aws-lambda-graphql/blob/d8dc91ac9b7679cbc595a8c856f525faa0a3fc73/packages/aws-lambda-graphql/src/__tests__/Server.test.ts#L997

Do you have `onOperationComplete` handler? Because it could be a case when `onOperationComplete` throws.

[2020-10-05 14:33] clmntrss commented on #121
@michalkvasnicak  I don't really understand what you mean by `onOperationComplete` handler. Should I have a custom part to handle it on my server side ?

My screenshot above is a bit cut but I also received a GQL_COMPLETE message from the back.

Even if I'm not resubscribing ( just stop the subscription ) it still in the database.

Might be an issue with `onOperationComplete` not triggered?

[2020-10-05 14:49] michalkvasnicak commented on #121
Ok so you are receiving complete event. In that case it probably fails during deletion from dynamo table. Do you have any logs? It's strange because it seems that the operation is detected and you receive a response. As you pointed out in the code where stop event is handled, complete response is being sent first and after that it deletes the subscription from database. It seems that this step fai

[2020-10-05 15:34] clmntrss commented on #121
Logged the `unsubscribeOperations` and got error with provided key element.

Since I work on the other issue about adding the multiple subscriptions handler my schema is different from the original one (with RANGE key added on SubscriptionOperation table)

So it looks like `get` operation will need HASH + RANGE to work. But the GQL_STOP protocol is designed to only send the operation id.

https://

[2020-10-06 07:04] michalkvasnicak commented on #121
Isn't it possible to do without `query`? Because we know `connectionId` and `subscriptionId` then these two should be used as HASH and RANGE. Or do you have different schema? Because as I mentioned in #114 we can use `subscriptionId` as RANGE.

Other thing is when you are going to unsubscribe from all subscriptions on client disconnect, in this case you need `query`.

[2020-10-06 07:42] clmntrss commented on #121
Unsubcribe on client disconnect is working well bug I think you used scan on it. https://github.com/michalkvasnicak/aws-lambda-graphql/blob/d8dc91ac9b7679cbc595a8c856f525faa0a3fc73/packages/aws-lambda-graphql/src/DynamoDBSubscriptionManager.ts#L283

Our schema is  `event` as RANGE and `subscriptionId` as HASH a miror of subscription table as you recommended https://github.com/michalkvasnicak/aws-l

[2020-10-06 07:54] michalkvasnicak commented on #121
Ok I see now. I totally forgot about my proposals, sorry for the confusion. Yes it makes sense to use `query`, I thought that `subscriptionId` is RANGE key at first but now I see the point. I think we can close this as it basically belongs to #114.

[2020-10-14 14:22] michalkvasnicak commented on #121
Closing this one as it favour of #114

[2020-10-14 14:22] #121 closed

[2020-10-27 09:03] #122 closed

[2020-11-13 00:18] syeshchenko opened #124 "API Gateway Socket timeout - 2 hours"
According to AWS Docs: https://docs.aws.amazon.com/apigateway/latest/developerguide/limits.html
API Gateway socket max TTL is 2 hours.
Is this limit still applicable to `aws-lambda-graphql` or there is a workaround?

[2020-11-13 06:18] michalkvasnicak commented on #124
After 2 hours you're reconnected.

[2020-11-13 06:18] #124 closed

[2020-11-13 17:02] syeshchenko commented on #124
Thank you @michalkvasnicak
And after the auto-reconnect, you won't lose subscriptions? e.g. no need to set those up again.

[2020-11-14 06:55] michalkvasnicak commented on #124
@syeshchenko it comes down to a GraphQL client. I think that Apollo resubscribes active subscriptions automatically. So it's up to clients how to handle that scenario.

[2020-11-20 10:07] louisholley opened #125 "AssertionError: "Please provide subscriptions to manage subscriptions""
hello

i've just followed the tutorial and i'm getting the error below:

[code]

my server.js file looks like this:

[code]

any ideas?

[2020-11-20 10:16] louisholley commented on #125
ok i just did `rm -rf node_modules` and then reinstalled and somehow it's working fine now? weird haha

[2020-11-20 10:16] #125 closed

[2020-11-26 21:47] tmpmadula opened #126 "Errors on AWS deployment"
when I deploy the API on AWS I get error messages such as {"message": "Missing Authentication Token"} or GET query missing.

I followed the instructions but seems like it is not working on deployment.
my API :https://4xn1zp1wb9.execute-api.eu-central-1.amazonaws.com/dev/

[2020-11-27 08:05] #126 closed

[2020-12-21 17:58] alaycock opened #128 "Replace subscriptions-transport-ws with graphql-ws"
The project [subscriptions-transport-ws](https://github.com/apollographql/subscriptions-transport-ws) is no longer being maintained, based on its README and recommends graphql-ws as an alternative. It would be worthwhile to exploring if graphql-ws can be integrated as-is or if changes are required, updating the sample application to use graphql-ws, and updating the documentation to facilitate that

[2021-01-06 12:27] cjnoname opened #129 "WebSocket is closed before the connection is established."
Sometimes I get this error on the first call after deployment or long time not use. Just want to know how to fix.

Error is: "WebSocket is closed before the connection is established."

I need to refresh the page to make it working.

Any ideas?

Thanks

[2021-01-17 03:01] tbehrsin opened #130 "AsyncIterator.return()"
How do I get AsyncIterator.return() to get called onDisconnect and on unsubscribe? I'm looking through the code and it seems this will get bypassed whenever the web socket is disconnected or a subscription is unsubscribed...

I'm trying to publish a presence event to a room topic whenever a user goes offline, using this code I found on google:

[code]

But asyncIterator.return is never called, and

[2021-01-18 07:13] michalkvasnicak commented on #130
The async iterator is available only on subscribe because lambda is stateless so if you want to handle presence you should use `onDisconnect` event handler (see subscriptions.onDisconnect and subscriptions.onOperationComplete (unsubscribe), https://github.com/michalkvasnicak/aws-lambda-graphql/tree/master/packages/aws-lambda-graphql#options)

[2021-01-18 09:10] tbehrsin commented on #130
I managed to get this to work actually... even though lambda is stateless it's possible to call the return handler when a client disconnects by iterating through the subscribers returned from `unsubscribeAllByConnectionId`. Do you want me to submit a PR for your review?

[2021-01-18 09:12] michalkvasnicak commented on #130
@tbehrsin that'd be nice! Thank you.

[2021-01-18 09:12] tbehrsin commented on #130
By returning subscribers iterated from `unsubscribeAllByConnectionId` and then in turn `connectionManager.unregisterConnection`:

[code]

I'll submit a PR.

[2021-01-18 15:11] #114 closed

[2021-01-22 07:08] #120 closed

[2021-01-28 16:28] andyrichardson opened #133 "Feature: Disable polling for events"
## About

Hey there, first off - thanks for the awesome lib!

I'm working with a team who are currently using a self-made implementation of serverless subscriptions and we'd really like to use this library instead.

One thing that is holding us back right now is the use of [polling for events](https://github.com/michalkvasnicak/aws-lambda-graphql/blob/d8dc91ac9b7679cbc595a8c856f525faa0a3fc73/packa

[2021-01-28 17:00] cranberyxl commented on #133
The file you linked to is a test fixture.

Events are picked up based on which type of managers you use. For example, if you're using dynamodb, when something is published, it's added to the table which triggers a call to the lambda letting it know there is a new item in the table: https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/docs/serverless.yml#L58-L65

[2021-01-29 10:44] andyrichardson commented on #133
Thanks for the response!

My bad! How does an event handler get called when an event is [written to the event store](https://github.com/michalkvasnicak/aws-lambda-graphql/blob/d8dc91ac9b7679cbc595a8c856f525faa0a3fc73/packages/aws-lambda-graphql/src/MemoryEventStore.ts#L11) in memory?

Totally, but it looks like this still involves [polling under the hood](https://docs.aws.amazon.com/amazondynamodb

[2021-01-29 14:13] cranberyxl commented on #133
This is no polling. Dynamo streams are serverless, see https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Streams.Lambda.html

A lambda is invoked when something is added to a dynamo table.

[2021-01-29 14:18] andyrichardson commented on #133
That's the link I shared - see quote below

[2021-01-29 14:19] cranberyxl commented on #133
That all happens in the AWS black box, this library doesn't write the code for it.

[2021-01-29 14:21] andyrichardson commented on #133
I'll rename the issue because this is less about the polling and more about triggering events without needing to write to a store.

So ignoring the polling, I'm wondering - when an event is published, why do we write to a store, which subsequently causes a read, which subsequently calls the same lambda that triggered the write?

[2021-02-01 07:38] michalkvasnicak commented on #133
@andyrichardson in that case you need an event store that performs execution on `publish()` call.

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/MemoryEventStore.ts#L10

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/master/packages/aws-lambda-graphql/src/DynamoDBEventStore.ts#L72

Both event stores just store the event, but in your c

[2021-02-01 15:25] andyrichardson commented on #133
Thanks for the response @michalkvasnicak 🙏

So funnily enough, I've been doing exactly that:
 - Use MemoryEventStore + MemoryEventProcessor
 - Use DynamoDB variants of everything else
 - Call dispatch on pubsub

I found that calling dispatch didn't have any effect and acted like a no-op.

There didn't seem to be any attempts to get subscribers from dynamodb following a dispatch.

Once the event is

[2021-02-01 15:39] andyrichardson commented on #133
Sorry I misread this - so the built in memory event store is working as intended (no dispatch)?

I might be missing something but I'm curious, how come there is a pattern of writing events to a store as opposed to solely consuming events and forwarding them on to the event processor?

I can see why this might be useful for much smaller projects where all published events are exclusive to the servi

[2021-02-01 15:54] michalkvasnicak commented on #133
`Memory*` parts are not intended to be used in AWS dev, they're used only in local dev mode (so yes they're working as intended). For your use case you need to write new event store by implementing https://github.com/michalkvasnicak/aws-lambda-graphql/blob/d20ed3cc81323617a1235765d43968f49c7b8521/packages/aws-lambda-graphql/src/types/events.ts#L4 and also need to copy the logic from `MemoryEventPr

[2021-02-01 18:12] alaycock commented on #133
I suspect that @michalkvasnicak has answered your question already, but it sounds like the question you're asking is: "Why bother using a datastore for storing and triggering events, when you could just immediately publish them instead?" And the answer is scalability.

- As the app you are building grows, perhaps you'll want to publish events from other sources, not just your GraphQL lambda. Meani

[2021-02-02 01:43] RyanHow commented on #133
Hi All!

I know this is diverging off topic a bit. But I'm interested in a similar setup where dynamo is only required to store the subscriptions and not events.

What do you think about async invoke another lambda if you are worried about timeouts/reliability but still want an immediate response?

Then other systems could just do the same, rather than writing to a DB store. (Which I figure it's a

[2021-03-02 21:56] claudioshiver commented on #107
Hi! How did you fix the 502 error?

[2021-03-04 20:14] hally9k opened #135 "Is there any reason that the `graphql` peer dependency is set to 14 as opposed to 15?"
Firstly: Thanks for this repo! 😻

Secondly: The `graphql` peer dependency is set to 14 as opposed to 15, this breaks typescript support as it appears that the ts types were added to the `graphql` package itself in version 15 and `@types/graphql` was deprecated.
My attempts at installing `graphql@14` and `@types/graphql` resulted in type errors.

[2021-03-09 07:20] ThomasP1988 opened #136 "disconnect and reconnect after 10 minutes"
Hi everyone,

first of all thanks for this awesome library,
My websocket connection is reseting after 10 minutes, I've been trying to find a keep alive or ping option but can't find it.
I've seen that subscriptions-transport-ws is meant to receive those keep alive messages, not to send them, so this option exists in apollo server, any idea how to achieve that?

[2021-03-10 10:01] michalkvasnicak commented on #136
Because AWS Api Gateway has 10 minutes idle connection timeout, you need to send something yourself. I guess you can just create some query that returns a constant value and call it regularly. AWS lambda is stateless so there is no way for lambda to send you keep alive message.

[2021-03-11 17:55] louisholley opened #137 "502 bad gateway using type-graphql"
We've recently refactored our backend to use type-graphql which needs to build the schema before calling `new Server` so we've ended up with something like this:

[code]

trying to subscribe from the client was giving me 502 errors from the websocket requests...

the args are logging out fine in cloudwatch so it's definitely being executed. my serverless.yml looks like this:
[code]

using the stan

[2021-03-12 08:56] louisholley commented on #137
ah...got it working like this:
[code]

hooray!

[2021-03-12 08:56] #137 closed

[2021-03-14 12:51] michalkvasnicak commented on #135
The reason is only because during the time this repo was create, 14.x was the latest version.

[2021-03-14 12:54] michalkvasnicak commented on #129
Have you found anything in your logs? This doesn't seem to be related to this library.

[2021-03-14 12:54] #129 closed

[2021-03-14 13:18] #135 closed

[2021-03-14 13:19] michalkvasnicak commented on #128
I'm sorry it took so long. I don't have time at the moment to try this so if you are able to spend some time on investigating this I'd appreciate this, otherwise it'll have to wait until I have some free capacity to do this.

[2021-03-19 05:47] dobrynin opened #139 "Usage w/ Apollo Federation"
Hello!

Thank you for developing this awesome tool. Have you considered at all how to make this solution work w/ Apollo Federation or microservices generally? Currently, Federation does not support subscriptions. Some folks have developed workarounds by using schema stitching to handle subscriptions. I haven't been able to find much discussion around combining the schema stitching approach w/ lamb

[2021-03-22 07:54] michalkvasnicak commented on #139
@dobrynin schema stitching as a workaround for subscriptions basically means that your gateway handles subscriptions and on each operation delegates this operation to microservice that handles it. So basically you will end up with the fact, that your gateway acts as a GraphQL client too. It isn't really automatic, you probably end up with programming whole delegation layer for your subscriptions.

[2021-03-22 07:54] #139 closed

[2021-03-24 09:27] jonnyasmar opened #140 "Client not receiving updates"
Greetings!

This is somewhat of a support request, but it may ultimately be an indication of a gap in documentation. I've aligned my app as closely as possible with the chat example app provided in this repo. I'm not sure what the issue is, but would be happy to contribute back to the docs if we can figure this out. I apologize in advance if there is a miss here on my part, but I've been at this f

[2021-03-24 12:43] jonnyasmar commented on #140
Welp...

Finally figured this out and all I can say is: I hate yamls. Had one extra indentation on my `dynamodbStream` prop in `serverless.yml` 🤦‍♂️

I'll go die now. Thx.

[2021-03-24 12:43] #140 closed

[2021-03-31 09:48] jonnyasmar opened #141 "Expose unsubscribe in PubSub"
Is there a particular reason the unsubscribe behavior isn't exposed by the PubSub class or is there an alternative recommended approach for handling this?

[2021-05-04 10:22] batmanhit opened #143 "Scaling related questions"
I have been enjoying using this library and I have a few questions about the scaling.

If I am going to add more lambda functions and split resolvers into different lambda functions, what can I do?
Is it feasible with the package?

[2021-05-12 06:25] michalkvasnicak commented on #141
Sorry for late response @jonnyasmar, no there is no reason. Probably I just forgot to expose it. Feel free to open a PR.

[2021-05-12 06:28] michalkvasnicak commented on #143
How'd you split the resolvers to different lambdas? I guess it could be possible but not sure whether it's possible with current implementation of this package as the connection management is handled directly in lambda handler and you need to use correct connection ids, to communicate with subscribers.

So the problem would be how to recreate proper context in resolvers.

[2021-05-14 02:13] allran opened #144 "Do I must to use DynamoDB storage?"
In my project, I don't want to use DynamoDB for storage anymore. I use Prisma to store or query data. Is there a way to move DynamoDB out，and without rewriting the inside code of 'aws-lambda-graphql' ?

[2021-05-14 06:16] allran opened #145 "How do I listen on the socket of 'connect' 'disconnet' method ?"
I need add some code in the 'connect' 'disconnet' function. Is there any way to listen it ?

[2021-05-24 04:58] michalkvasnicak commented on #144
There are interfaces you must implement in order for your storage to work:

**SubscriptionManager**

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/4a2e826668c987a8ab70257ad2eda7e3e3969926/packages/aws-lambda-graphql/src/types/subscriptions.ts#L16

**ConnectionManager**

https://github.com/michalkvasnicak/aws-lambda-graphql/blob/4a2e826668c987a8ab70257ad2eda7e3e3969926/packages/aws-lam

[2021-05-24 05:00] michalkvasnicak commented on #145
You can use `onWebsocketConnect`, `onConnect` and `onDisconnect`. It's documented in readme.

[2021-05-24 05:00] #145 closed

[2021-05-24 19:00] cjnoname opened #146 "Send the events from other apis"
How could I send the event messages if I want to send a message it from another apis?

For example I have my graphql subscription api running without issues, and I have another backend API takes 40 mins to run a job and I want to send the message after the job is done to all clients. How could I do it?

Thanks

[2021-05-25 04:52] michalkvasnicak commented on #146
If you use DynamoDB as a storage then you need to instantiate `DynamoDBEventStore` (with the same dynamodb table as your graphql api uses) and publish an event.

[2021-05-25 04:56] michalkvasnicak commented on #146
But I think it's more safe to use `PubSub` + `DynamoDBEventStore`.

[code]

[2021-05-29 18:55] cjnoname opened #147 "Duplicated message every period of time"
Hi,

The system sometime has some duplicated messages, which happens every few mins.  Don't know why

Thanks

[2021-05-30 18:42] cjnoname commented on #112
@n1te1337

Hey mate, thanks for your great work.

I have added this new option to my code, it works great with the WebSocketHandler, the error was gone.
However it's not working on EventHandler.
I got the same error on Cloudwatch log on EventHandler:
NotFoundException: No method found matching route dev/@connections/AJ822cXGywMCGBw= for http method POST.

Anyone can give me some suggestions?
Thank

[2021-06-01 14:54] #147 closed

[2021-06-01 14:54] #146 closed

[2021-06-19 10:20] tkwong94 opened #148 "Error "Address already in use" while running example chat server with serverless-offline"
I am trying to run the example chat sever code with severless-offline but exception occurs, saying the port 8000 is already in use.

Steps to reproduce:
1.  sls dynamodb install
2. sls dynamodb start
   => Dynamodb Local Started in port 8000
3. Open another terminal window and run `yarn start`
   => Error happens, see below for the detailed message

Packages:
"serverless-dynamodb-local": "^0.2.38"

[2021-06-19 10:37] #148 closed

[2021-06-21 06:37] #144 closed

[2021-07-15 20:10] maxweba opened #150 "Routes for webSocketHandler, dynamoDBStreamHandler and httpHandler not create"
Hi Guys,

I am stuck on this, u guys know why my serverless not create the routes for this instances?

<img width="1038" alt="Screen Shot 2021-07-15 at 17 03 57" src="https://user-images.githubusercontent.com/87037599/125851290-62e34dfd-ec06-4c95-ac08-dbc45314da9e.png">

And I guess this is the cause of this connect refuse right?

<img width="1008" alt="Screen Shot 2021-07-15 at 17 05 51" src="htt

[2021-07-16 18:48] #150 closed

[2021-07-16 18:52] maxweba commented on #73
My problem was that the local dynamo wasn't installing, so I had to create a script.
`const dynamodbLocal = require('dynamodb-localhost');
dynamodbLocal.install(() => {
  console.log('------- Finish -------');
}, '../../../.dynamodb');`

[2021-07-22 04:41] oyed opened #152 "AWS SDK v3 Compatibility"
AWS SDK v3 has been around for a little while now, and the benefits of using it (beyond being actively maintained) really outweigh the use of v2 for us.

Is there any chance of pushing this library forward using v3?

[2021-07-28 01:49] allran opened #153 "The packages demo can't running"
1. run server:
[code]
then get success run message log:
[code]
2. run client:
[code]
then get success run logs
[code]
3. open the client url`http://localhost:3002/`, debug the chrome:
At `SubscriptionClient.prototype.processReceivedData`, I get follow error message:
receivedData = "{\"statusCode\":400,\"error\":\"Bad Request\", \"message\":\"Invalid cookie value\""}"

[2021-08-11 15:25] mathenshall commented on #128
At Nurx (www.nurx.com), we are heavily investing in using this package and are willing to take the lead in adding support for  graphql-ws. Is there anybody else in the community who would be willing to help review, and test/evaluate?

[2021-08-22 06:21] CaerusKaru commented on #128
@mathenshall More than happy to review, test, and evaluate any work you submit

[2021-08-24 06:26] michalkvasnicak commented on #152
@oyed sorry for late response. At the moment I don't have time for this but feel free to open a PR.

[2021-08-31 17:08] chrishoyes commented on #112
Is it the complete endpoing that you would nee to pass to subscriptionOptions, or just the stage 'dev' for example?

[2021-09-01 22:06] ffleandro opened #154 "How to pass DataSources to Context?"
I'm trying to migrate an apollo-server app into this library however I'm having an issue passing datasources to the context that gets passed to each resolver.

Previously:
[code]

and now:
[code]

However it seems datasources are not behaving correctly or aren't being passed correctly to my resolvers.

Any hints?

[2021-09-13 20:12] ffleandro commented on #154
It seems that `this` is not being bound correctly inside the `DataSource`.
One of the DataSources is a `DynamoDBDataSource` and some methods work and other don't.

For instance, deleteItem throws:
`Cannot read property 'removeItemFromCache' of undefined`

and getItem throws:
`Cannot read property 'getItem' of undefined`

But `put` or `update` work fine.
I have a similar error using a `RESTDataSour

[2021-09-13 20:19] ffleandro commented on #154
Fixed like this:

[code]

[2021-09-13 20:19] #154 closed

[2021-09-16 10:44] allran opened #155 "How to use at aws?"
At localhost, I can use GraphQL client to collect the url.
when use '"sls deploy"' update to aws, I can't use GraphQL client to collect the api getway url.

endpoints:
  ANY - https://rndkmcy7qd.execute-api.cn-northwest-1.amazonaws.com.cn/dev/

[2021-09-30 03:11] #155 closed

[2021-09-30 03:11] #153 closed

[2021-10-25 07:46] gaurav-tally opened #156 "How can I access express object from context function?"
Hi,

How can I access express object from context function?

[code]

[2022-02-03 13:39] naydichev opened #165 "How to use subscriptions with `type-graphql`?"
Hello!

I'm trying to use this library with `type-graphql`, and am running into some conflicts/issues in setting up my subscriptions.

From what I can tell, a lot of the problems I'm having are due to two things:
1. The `PubSub` class defined in this package does not `implement` or `extend` the `PubSubEngine` defined in `graphql-subscriptions`.
2. The `subscribe` method of `PubSub` returns a `Prom

[2022-02-09 13:38] #165 closed

[2022-02-09 13:39] naydichev commented on #165
Sorry, the problem was PEBKAC. It does actually work just fine.

[2022-03-07 19:09] chengjiaapraamcos opened #171 "InvalidSignatureException Error after moving from Regional Gateway to CloudFront"
Thanks for building this awesome library.

Now we are moving from API Gateway to Cloudfront for better support on global connection speed and WAF/Shiled protection etc.

The issue:
It works perfectly behind API Gateay. After moving the endpoint to CloudFront, the connction could be established from frontend (101) without error.
However InvalidSignatureException error occurs on backend. Here is the

[2022-04-19 11:31] #171 closed

[2022-08-23 07:49] fridaystreet opened #179 "Any plans for support apollo server 3?"
Hi Michael,

Just wondered if this was on your radar at all and if so any sort of timeframe? If not and you're up for a discussion I'd be happy to try and work through a list of requirements/tasks and see if can get a plan of action. And also happy to help with the tasks.

Cheers
Paul

[2022-08-24 07:09] michalkvasnicak commented on #179
@fridaystreet unfortunately I don't have a time to work on this library actively so it would be really nice if someone else would take care of this :)

The plan would be to release current version as `1.0` and the one with Apollo Server 3 as `2.0` if there are any breaking changes.

[2022-08-25 05:30] fridaystreet commented on #179
Hi Michael,

Thanks for getting back to me. I must say I haven't really touched it since last year when we implemented it, which is testimont to it being a great library I'd say :-) But yes, we're looking at apollo 3 now. I really like the simplicity of this in keeping it serverless. So far we haven't had any issue with it, it's been running quite happily in production albeit with a few tweaks we

[2022-11-03 09:00] medv commented on #128
Did you end up transitioning to `graphql-ws`, if so how did it go?